$colorBlue: #115F98;
$fontColor: #525252;

.contact{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .hero{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../../../assets/img/contact/contact-us-bg.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;


        .hero-content{
            background-image: url("../../../assets/img/contact/contact-us.png");
            background-position: bottom right;
            background-repeat: no-repeat;
            background-size: 35em;
            position: relative;
            height: 65vh;
            width: 100%;

            .title{
                position: absolute;
                top: 50%;
                left:50%;
                color: white;
                transform: translate(-50%,-50%);
                white-space: nowrap;
            }
        }


        
    }

    .hero::before{
        content: "";
        top: 0;
        left:0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(2,22,47,0.7133228291316527) 0%, rgba(0,0,0,0.23713235294117652) 25%, rgba(0,0,0,0.20632002801120453) 100%);
    }

    .content{

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;

        .red-star{
            color: red;
            font-size: 1.1em;
            font-weight: bold;
        }

        .error-feedback {
            width: fit-content;
            margin-top: 0.25rem;
            color: #dc3545;
        }

        .infos{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .title{
                margin-bottom: 1em;
            }

            .agences{
                display: flex;
                width: 100%;
                justify-content: space-between;

                .agence{

                    display: flex;
                    flex-direction: column;
                    color: $colorBlue;
                    flex: 1;

                    .name{

                        fa-icon{
                            font-size: 2em;
                        }

                        span{
                            font-size: 1.25em;
                            font-weight: 540;
                            font-size: 1.3em;
                            margin-bottom: 10px;
                            text-decoration: underline;
                        }
                    }

                    .mail, .phone, .adress{

                        display: flex;
                        align-items: baseline;
                        width: 345px;

                        .number{
                            font-size: 0.93em;
                        }
                    }

                }

                .yaounde{
                    
                
                    .name{
                        span{
                            margin-left: 10px;
                        }
                    }

                    .mail, .phone, .adress{
                        span{
                            margin-left: 10px;
                        }
                       
                    }
                }

                .douala{
                    align-items: flex-end;
                    .name{
                        span{
                            margin-right: 10px;
                        }
                    }

                    .mail, .phone, .adress{
                        justify-content: flex-end;
                        span{
                            margin-right: 10px;
                        }
                       
                    }
                }
            }

        }

        .horaires-reseaux{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 3em 0;
                align-items: center;
                border-radius: 5px;
                border: solid $colorBlue;
                position: relative;
                padding: 20px 30px;
                color:$colorBlue;

                .horaires{

                    display: flex;
                    justify-content: space-around;
                    z-index: 1;
                    width: 100%;

                    .heures{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
        
                        span {
                            font-weight: 540;
                            font-size: 1.3em;
                            margin: 10px 0;
                            text-decoration: underline;
                        
                        }
        
                        ul{
                            list-style: none;
                            padding: 0;
                            margin: 0;
                        }
                    }
        
                    .reseaux{            
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        
                        > span {
                            font-weight: 540; 
                            margin: 10px 0 0 0;               
                        }
        
                        .reseau{
                            
                            img{
                                height: 30px;
                                width: 30px;
                                margin: 5px 5px 0 5px;
                                cursor: pointer;
                            }
                        }
                    }
                }

            }

        form{
            background-color: #1160984b;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 750px;
            padding: 50px 40px;

            .gender-names{
                display: flex;
                justify-content: space-between;
                width: 100%;

                .element{
                    .gender{
                        display: flex;
                        flex-direction: column;
                        background-color: white;
                        border: 1px solid $colorBlue;
                        padding: 5px;
                        border-radius: 5px;
                        width: 100px;
                        height: 57px;
                        margin-top: 15px;
                        position: relative;
    
    
                        .label{
                            font-size: 0.85em;
                            color: $colorBlue;
                            padding-left: 5px;
    
                        }
    
                         select{
                            border: none;
                            outline: none;
                            background-color: unset;
                            
                        }
                    }
                }

                .element{

                    width: fit-content;

                    .firstname, .lastname{
                        display: flex;
                        flex-direction: column;
                        background-color: white;
                        border: 1px solid $colorBlue;
                        padding: 5px;
                        border-radius: 5px;
                        margin-top: 15px;
                        position: relative;
                        height: 57px;
                        width: 280px;
    
                        .label{
                            font-size: 0.85em;
                            color: $colorBlue;
                            padding-left: 5px;
    
                        }
    
                         input{
                            border: none;
                            outline: none;
                            background-color: unset;
                            position: absolute;
                            position: absolute;
                            bottom: 0;
                            padding-left: 4px;
                            width: 100%;
                            padding-top: 25px;
                            height: 100%;
                        }
                    }
                }

                
            }

            .email-phone{

                display: flex;
                justify-content: space-between;
                width: 100%;

                .element{
                    width: fit-content;
                    .email, .phone{
                        width: 280px;
                        height: 57px;
                        margin-top: 15px;
                        background-color: white;
                        border: 1px solid $colorBlue;
                        padding: 5px;
                        border-radius: 5px;
                        position: relative;
                        overflow: hidden;

                        .label{
                            font-size: 0.85em;
                            color: $colorBlue;
                            padding-left: 5px;

                        }

                        input{
                            border: none;
                            outline: none;
                            background-color: unset;
                            position: absolute;
                            position: absolute;
                            bottom: 0;
                            padding-left: 4px;
                            width: 100%;
                            padding-top: 25px;
                            height: 100%;
                        }
                    }
                }
            }

            .element{
                width: 100%;
                .object{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border: 1px solid $colorBlue;
                    padding: 5px;
                    border-radius: 5px;
                    margin-top: 15px;
                    position: relative;
                    height: 57px;
                    width: 100%;

                    .label{
                        font-size: 0.85em;
                        color: $colorBlue;
                        padding-left: 5px;

                    }

                    input{
                        border: none;
                        outline: none;
                        background-color: unset;
                        position: absolute;
                        position: absolute;
                        bottom: 0;
                        padding-left: 4px;
                        width: 100%;
                        padding-top: 25px;
                        height: 100%;
                    }
                }
            }

            .contact-ways{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 20px;
                width: 100%;

                .ways{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    .way{
                        
                        margin: 5px 10px;
                        flex: 1;

                        input{
                            margin: 0 10px;
                        }
                    }

                    .email{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }

                    .phone{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }

                }
            }

            .element{
                width: 100%;

                .message{
                    width: 100%;
                    height: 300px;
                    position: relative;
                    margin: 10px 0;
                    background-color: white;
                    border: 1px solid $colorBlue;
                    overflow: hidden;
                    border-radius: 5px;

                    #message-area{
                        height: 100%;
                        min-height: 300px;
                        max-height: 300px;
                        width: 100%;
                        border: none;
                        padding: 10px 8px;
                        outline: none;
                    }

                }
            }

            button{
                outline: none;
                border: none;
                border-radius: 100px;
                padding: 5px 20px;
                background-color: $fontColor;
                color: white;
                width: fit-content;
                font-size: 1.1em;
                transition: all 0.3s ease-in-out;
                margin: auto;
                margin-top: 40px;
                cursor: pointer;
            }

            button:hover{
                background-color: $colorBlue;
            }
        }
 
    }
}

@media all and (max-width: 825px){

    .contact{
    
        .content{
    
            .infos{

                .agences{

                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
    
                    .agence{

                        align-items: center;

                        .name{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 100%;

                            fa-icon{
                                padding: 2px 13px;
                                border-radius: 50%;
                                background-color: #11609849;
                                margin-bottom: 10px;
                            }
    
                            span{
    
                                margin: 0 0 10px 0;
                            }
                        }
                    }
    
                    .yaounde{

                        align-items: flex-start;
                        
                    }
    
                    .douala{
                        align-items: flex-start;
                        margin-top: 30px;
                        .name{
                            flex-direction: column-reverse;
                            align-items: center;
                            span{
                                margin: 0 0 10px 0 !important;
                            }
                        }
    
                        .mail, .phone, .adress{

                            flex-direction: row-reverse;
                           
                            span{
                                margin: 0 0 0 10px;
                            }
                        }
                    }
                }
    
                .horaires-reseaux{
                    
                    .horaires{
    
                        align-items: center;
                        flex-wrap: wrap;

                        .heures{
                            margin: 0 5px;

                        }
            
                        .reseaux{  

                            margin: 0 5px;

                        }
                    }
    
                }
            }

            form{
                width: 100%;

                .gender-names{

                    .element{
                        .lastname, .firstname{
                            width: 210px;
                        }
                    }
                }

                .email-phone{
                    .element{
                        .email, .phone{
                            width: 210px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 680px){

    .contact{
    
        .content{

            form{
                width: 100%;
                padding: 30px 20px;

                .gender-names{

                    flex-direction: column;

                    .element{
                        width: 100%;
                        .lastname, .firstname{
                            width: 100% ;
                        }
                    }
                }

                .email-phone{
                    .element{
                        .email, .phone{
                            width: 210px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 570px){

    .contact{
    
        .content{
    
            .infos{

                .agences{
                    .agence{

                        .name{

                            fa-icon{
                                font-size: 1.7em;
                            }
    
                            span{
                                font-size: 1.2em;
                            }
                        }

                        .mail, .phone, .adress{

                            display: flex;
                            align-items: baseline;
                            width: fit-content;

                            span{
                                font-size: 0.95em;

                            }
    
                            .number{
                                font-size: 0.85em;
                            }
                        }
                    }
                }

                .horaires-reseaux{
                    padding: 20px 10px;
                    
                    .horaires{
    
                        flex-direction: column;

    
                        .heures{
                            
                            margin-bottom: 20px;

                            span{
                                font-size: 1.2em;
                            }

                            ul{
                                font-size: 0.95em;
                            }
    
                        }

            
                    }
    
                }
            }
            
    
            form{

                width: 100%;
                padding: 30px 10px;
                    
                .email-phone{

                    flex-direction: column;

                    .element{
                        width: 100%;

                        .email, .phone{
                            width: 100%;

                        }
                    }
        
                }

            }
            
        }
    }
}