$colorBlue: #115F98;
$fontColor: #525252;

.conteneur-perso{
    padding: 5em 7% 0 7%;
}

.contact{
    display: flex;
    flex-direction:column;
    width: 100%;

    .contact-top-bloc{

        background-image: url("../../../assets/img/contact-us.png"), url("../../../assets/img/contact-us-icons.png"), url("../../../assets/img/contact-us-bg.jpeg");
        background-position: bottom right, center left, center;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: 45em, 25em, cover;
        position: relative;
        width: 100%;
        height: 65vh;

        .contact-top-title{
            position: absolute;
            top: 50%;
            left:50%;
            color: white;
            transform: translate(-50%,-50%);
        }
    }

    .contact-top-bloc::before{
        content: "";
        top: 0;
        left:0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(2,22,47,0.7133228291316527) 0%, rgba(0,0,0,0.23713235294117652) 25%, rgba(0,0,0,0.20632002801120453) 100%);
    }

    .contact-bloc{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .title{
            margin-bottom: 1em;
        }

        .agences{
            display: flex;
            //flex-direction: column;
            width: 100%;
            justify-content: space-between;

            .agence{
                display: flex;
                flex-direction: column;
                color: $colorBlue;

                > fa-icon{
                    font-size: 2em;
                }
                

                span:nth-child(2){
                    font-weight: 540;
                    font-size: 1.3em;
                    margin-bottom: 10px;
                    text-decoration: underline;
                }

                

                span:nth-child(3) > span,
                span:nth-child(5) > span{
                    font-size: 1.1em;
                }
            }

            .yaounde{
                span > fa-icon{
                    font-size: 1.25em;
                    margin-right: 10px;
                }

                span:nth-child(3),
                span:nth-child(4),
                span:nth-child(5){
                    display: flex;
                    align-items: baseline;
                }
            }

            .douala{

                align-items: flex-end;
                span > fa-icon{
                    font-size: 1.25em;
                    margin-left: 10px;
                }

                span:nth-child(3),
                span:nth-child(4),
                span:nth-child(5){
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: baseline;
                }
            }
        }

        .horaires-reseaux{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 2em 0;
            align-items: center;
            border-radius: 5px;
            background-image: url("../../../assets/img/sky-contact.jpeg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            overflow: hidden;
            padding: 20px 30px;
            color:white;

            > span{
                z-index: 1;
            }

            > div{

                display: flex;
                justify-content: space-around;
                z-index: 1;
                width: 100%;

                .horaires{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    > span {
                        font-weight: 540;
                        font-size: 1.3em;
                        margin: 10px 0;
                        text-decoration: underline;
                    
                    }
    
                    ul{
                        list-style: none;
                        padding: 0;
                        margin: 0;
                    }
                }
    
                .reseaux{            
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                    > span {
                        font-weight: 540; 
                        margin: 10px 0 0 0;               
                    }
    
                    .reseau{
                        img{
                            height: 30px;
                            width: 30px;
                            margin: 5px 5px 0 5px;
                            cursor: pointer;
                        }
                    }
                }
            }

        }

        .horaires-reseaux::before{
            content: "";
            top: 0;
            left:0;
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.432);
        }
    }



    .form-bloc{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        padding: 40px 7%;

    form{
        background-color: #1160984b;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 800px;
        padding: 30px 40px;

        .name-bloc, .objet-bloc{
            width: 100%;
            height: 40px;
            position: relative;
            margin: 10px 0;

            #name-input, #objet-input{
                height: 100%;
                width: 100%;
                border: none;
                border-radius: 5px;
                padding: 0 20px;
                outline: none;
            }

        

            #name-input:not(:placeholder-shown) + .label-id,
            #objet-input:not(:placeholder-shown) + .label-id
            {
                transform: translate(0, -50%);
                opacity: 1;
                color: $colorBlue;
            }

            .label-id{
                left: 20px;
                position: absolute;
                top: 0;
                opacity: 0;
                transition: all 0.2s;
                font-weight: 540;
            }
        }


        .email-phone{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            width: 100%;
            margin: 10px 0;

            .email-bloc,.phone-bloc{
                width: 45%;
                position: relative;
                height: 100%;

                #email-input, #phone-input{
                    height: 100%;
                    width: 100%;
                    border: none;
                    border-radius: 5px;
                    padding: 0 20px;
                    
                    outline: none;
                }

                #phone-input:not(:placeholder-shown) + .label-id,
                #email-input:not(:placeholder-shown) + .label-id
                {
                    transform: translate(0, -50%);
                    opacity: 1;
                    color: $colorBlue;
                }

                .label-id{
                    left: 20px;
                    position: absolute;
                    top: 0;
                    opacity: 0;
                    transition: all 0.2s;
                }
            }

        }

        .contact-prefere{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            > div{
                display: flex;
                align-items: center;
                justify-content: center;

                .radio{
                    display: flex;
                    justify-content: baseline;
                    align-items: center;
                    margin: 5px 10px;
                }

                .radio:nth-child(1){

                    #email{
                        margin-left: 10px;
                    }
                }

                .radio:nth-child(2){
                    #phone{
                        margin-right: 10px;
                    }
                }
            }
        }

        .message-bloc{
            width: 100%;
            height: 300px;
            position: relative;
            margin: 10px 0;

            #message-area{
                height: 100%;
                min-height: 300px;
                max-height: 300px;
                width: 100%;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                outline: none;
            }

            #message-area:not(:placeholder-shown) + .label-id

            {
                transform: translate(0, -50%);
                opacity: 1;
                color: $colorBlue;
            }

            .label-id{
                left: 20px;
                position: absolute;
                top: 0;
                opacity: 0;
                transition: all 0.2s;
                font-weight: 540;
            }
        }


        }


    

    button{
        padding: 3px 15px;
        border-radius: 100px;
        border: none;
        cursor: pointer;
        font-size: 1em;
        background-color: white

    }

    button:hover{
        color: white;
        background-color: #363636 ;
        transition: all 0.5s ease 0s;

    }
}
}