$colorBlue: #115F98;
$fontColor: #525252;


.about{

    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: center;

    .hero{

        background-image: url("../../../assets/img/about/about-image-header-planes.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 65vh;

        .title{
            position: absolute;
            top: 50%;
            left:50%;
            color: white;
            transform: translate(-50%,-50%);
        }

    }

    .hero::before{
        content: "";
        top: 0;
        left:0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(2,22,47,0.7133228291316527) 0%, rgba(0,0,0,0.23713235294117652) 25%, rgba(0,0,0,0.20632002801120453) 100%);
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 80px;


        .histoire{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .title{
                position: relative;
            }

            .title::after{
                content: "";
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                height: 5px;
                width: 100px;
                background: $colorBlue;
                position: absolute;
                border-radius: 100px;    
            }

            .text{

                display: flex;
                justify-content: space-between;
                width: 100%;

                span{
                    width: 47%;
                    text-align: justify;
                    font-size: 1.1em;
                    margin-top: 5.5em;

                }

                span::first-letter {
                    font-size: 3.5em;
                    color: $colorBlue;
                    font-weight: bold;
                    line-height: 4px;
                }
            }
        }


        .mission{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 100px;

            .title{
                position: relative;
            }

            .title::after{
                content: "";
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);                
                height: 5px;
                width: 100px;
                background: $colorBlue;
                position: absolute;
                border-radius: 100px;    
            }

            .text{

                width: 100%;
                text-align: justify;
                font-size: 1.1em;
                position: relative;
                margin-top: 3.5em;

            }
        }

        .choisir{

            display: flex;
            flex-direction: column;
            color: white;
            background-color: $colorBlue;
            width: 100%;
            margin-top: 100px;
            align-items: center;
            padding-top: 70px;
            padding-bottom: 60px;


            .title{
                margin-bottom: 1.5em;
                position: relative;
            }

            .title::after{
                content: "";
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                bottom: -10px;
                height: 5px;
                width: 100px;
                background: white;
                position: absolute;
                border-radius: 100px;
            }

            .choisir-bloc-elements{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;
                position: relative;

                .choisir-bloc-elements-element{
                    display: flex;
                    background: rgba( 255, 255, 255, 0.2 );
                    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                    backdrop-filter: blur( 3px );
                    -webkit-backdrop-filter: blur( 3px );
                    border-radius: 5px;
                width: 200px;
                
                    z-index: 3;
                    align-items: center;
                    flex-direction: column;
                    position: relative;
                    margin: 15px 35px;
                    padding: 25px 15px;
                    text-align: justify;
                    cursor: pointer;

                    & img{
                        height: 80px;
                        width: 80px;
                    }

                    span:nth-child(2){

                        margin: 10px 0 15px 0;
                        font-size: 1.1em;
                        font-weight: Bold;

                    }

                    span:nth-child(3){
                        font-size: 0.85em;

                    }

                }

                .choisir-bloc-elements-element:hover{

                    background: rgba(255, 255, 255, 0.562);
                    color: #0e0e0e;
                    transition: all 0.3s ease-in;

                }

                .small-circle{
                    position: absolute;
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                }

                .big-circle{
                    position: absolute;
                    height: 130px;
                    width: 130px;
                    border-radius: 50%;
                    background: rgba(255, 255, 0, 0.582);
                    top: -10px;
                    left: -35px;

                }

                .jaune{
                    background: rgba(255, 255, 0, 0.582);
                }

                .blanc{
                    background: rgba( 255, 255, 255, 0.2 );
                }

                .rouge{
                    background: rgba(255, 0, 0, 0.534);
                }

                .one{
                    top: -10px;
                    left: -35px;
                }

                .two{
                    top: 10px;
                    left: 20%;
                }

                .three{
                    top: 70%;
                    left: 60%;
                }
                
                .four{
                    top: 40%;
                    left: 80%;
                }



            }

        }

        .equipe{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 100px ;

            .title{
                position: relative;
            }

            .title::after{
                content: "";
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                bottom: -10px;
                height: 5px;
                width: 100px;
                background: $colorBlue;
                position: absolute;
                border-radius: 100px;
            }

            .intro{
                text-align: center;
                font-size: 1.2em;
                font-weight: 540;
                margin-top: 3em;

            }

            .employees{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 4em 0;

                .employee{

                    display: flex;
                    flex-direction: column;
                    margin: 40px 20px;
                    width: 200px;


                    .image{
                        position: relative;
                        background-color: #4054637a;
                        width: 100%;
                        height: 175px;

                        img{
                            position: absolute;
                            bottom: 0%;
                            height: 210px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }

                    .future{
                        background-color: $fontColor;
                    }

                    .name{
                        font-weight: bold;
                        margin: 10px 0 0;
                    }

                    .role{
                        font-size: 0.9em;
                    }

                    .button{
                        padding: 1px 10px;
                        background: $colorBlue;
                        color: white;
                        border-radius: 100px;
                        cursor: pointer;
                        font-size: 0.85em;
                        border: 1px solid $colorBlue;
                        width: fit-content;
                    }

                    .button:hover{
                        background: whitesmoke;
                        color: $colorBlue;
                    }

                }
            }
            
        }

    }
}

@media all and (max-width: 850px){

    .about{

        display: flex;
        flex-direction:column;
        width: 100%;
        align-items: center;
    
        .content{
    

            .histoire{
                
                .text{
    
                    flex-direction: column;
    
                    span{
                        width: 100%;
                        margin-top: 3em;
                        font-size: 1em;
                    }
    
                    span::first-letter {
                        font-size: 2.5em;
                        color: $colorBlue;
                        font-weight: 550;
                        line-height: 4px;
                    }
                }
            }

            .mission{
    
                .text{

                    font-size: 1em;

                }
            }

            .equipe{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 100px ;
    
                .employees{

                    .employee{
    
                        width: 200px;
    
    
                        .image{
                            position: relative;
                            background-color: #4054637a;
                            width: 100%;
                            height: 132px;

                            img{
                                position: absolute;
                                bottom: 0%;
                                height: 190px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
    
                        .future{
                            background-color: $fontColor;
                        }
    
                        .name{
                            font-weight: 500;
                            text-align: center;
                        }
    
                        .role{
                            text-align: center;
                        }
    
                        .button{

                            margin:auto;

                        }
    
                    }
                }
                
            }
        }
    }
}