<div class="about">

    <div class="about-top-bloc">

        <h1 class="about-top-title">QUI SOMMES NOUS ?</h1>
    </div>

    <div class="conteneur-perso histoire-bloc">

        <h1 class="histoire-title">Notre Histoire</h1>
        
        <div class="histoire-text">
            
            <span>
                Elites Voyages est une agence de voyage et de tourisme qui s'est donnée pour mission de révolutionner le voyage en Afrique et dans le monde. Depuis notre création en 2009, nous nous sommes forgés une réputation année après année, auprès de nos partenaires et surtout auprès de notre clientelle. Nos clients ( nos Elites ) bénéficient d'un accompagnement de qualité, peaufiné selon leurs besoins. </span>

            <span>
                Vorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt nobis deleniti suscipit reprehenderit, iusto dolorem, possimus cupiditate beatae quasi unde aperiam ullam facilis nisi esse ex laborum nihil impedit voluptates.
                Natus perferendis totam qui est debitis nostrum similique, ipsa libero nulla.est debitis nostrum similique, ipsa libero nulla.est debitis nostrum similique, ipsa libero nulla.nostrum similique, ipsa libero nulla.
            </span>

        </div>

    </div>


    <div class="conteneur-perso mission-bloc">

        <h1 class="mission-title">Notre Mission</h1>
          
        <div class="mission-text-bloc">

            <span class="mission-text">
                Eorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt nobis deleniti suscipit reprehenderit, iusto dolorem, possimus cupiditate beatae quasi unde aperiam ullam facilis nisi esse ex laborum nihil impedit voluptates.
                Natus perferendis totam qui est debitis nostrum similique, ipsa libero nulla voluptatibus porro eos quisquam aliquam itaque at tempora aut? Officia minus, tempore molestias totam nam tenetur odit molestiae voluptatum ?
            </span>
            
        </div>

    </div>

    <div class="choisir-bloc">
        <h1 class="choisir-title">Pourquoi Nous Choisir</h1>
        <div class="choisir-bloc-elements">

            <div class="choisir-bloc-elements-element first">
                <img src="../../../assets/img/about/about-womman-call-center.png">
                <span>Toujours là pour vous</span>
                <span>7j/7 pour répondre a vos demandes et assurer la mobilité de vos collaborateurs</span>
            </div>

            <div class="choisir-bloc-elements-element">
                <img src="../../../assets/img/about/cible.png">
                <span>Suivi sur mesure</span>
                <span>Nous planifions ensemble chaque aspect de votre projet dès votre réservation jusqu'àu jour du voyage </span>
            </div>

            <div class="choisir-bloc-elements-element">
                <img src="../../../assets/img/about/about-money-fly.png">
                <span>Des prix pour tous</span>
                <span>Nous offrons tous nos services à des tarifs très compétitifs, les meilleurs du marché</span>
            </div>
<!--
            <div class="choisir-bloc-elements-element">
                <img src="../../../assets/img/about-woman-black.png">
                <span>Conseils de qualité</span>
                <span>Fort de nos plus de 10 ans d'expérience, nos experts vous guiderons. On s'occupe de tous</span>
            </div>
-->
<!--           <span class="small-circle jaune one"></span>
            <span class="big-circle rouge two"></span>
            <span class="big-circle blanc three"></span>
            <span class="small-circle rouge four"></span>
--> 
        </div>
    </div>


    <div class="conteneur-perso equipe-bloc">
        <h1 class="equipe-title">Nos Equipes</h1>
        <span>Elites Voyages est fière de vous présenter son équipe de professionnels qui oeuvre jour et nuit pour vous. </span>
        <div class="employee-blocs">

            <div class="employee-bloc">

                <div class="employee-image">
                    <img src="../../../assets/img/about/pauline.png">
                </div>

                <span class="employee-name">Irène XXXXXXXX</span>
                <span class="employee-role">Responsable d'agence</span>

            </div>

            <div class="employee-bloc">

                <div class="employee-image">
                    <img src="../../../assets/img/about/about-woman-black.png">
                </div>

                <span class="employee-name">Esther XXXXXXXX</span>
                <span class="employee-role">Responsable d'agence</span>

            </div>

            <div class="employee-bloc">

                <div class="employee-image">
                    <img src="../../../assets/img/about/horlande.png">
                </div>

                <span class="employee-name">Horlande BAKOM</span>
                <span class="employee-role">Agent ticketing</span>

            </div>

            <div class="employee-bloc">

                <div class="employee-image">
                    <img src="../../../assets/img/about/about-woman-black.png">
                </div>

                <span class="employee-name">Carole ABOUANG</span>
                <span class="employee-role">Agent ticketing</span>

            </div>

            <div class="employee-bloc">

                <div class="employee-image">
                    <img src="../../../assets/img/about/christelle.png">
                </div>

                <span class="employee-name">Christelle XXX</span>
                <span class="employee-role">Agent ticketing</span>

            </div>

         
            <div class="employee-bloc">

                <div class="employee-image">
                    <img src="../../../assets/img/about/about-woman-black.png">
                </div>

                <span class="employee-name">Valentin</span>
                <span class="employee-role">Agent ticketing</span>

            </div>

            <div class="employee-bloc">

                <div class="employee-image">
                    <img src="../../../assets/img/about/about-woman-black.png">
                </div>

                <span class="employee-name">Gouather XX</span>
                <span class="employee-role">Stagiaire</span>

            </div>

            <div class="employee-bloc">

                <div class="employee-image">
                    <img src="../../../assets/img/about/about-woman-black.png">
                </div>

                <span class="employee-name">Yves Fack</span>
                <span class="employee-role">Agent ticketing</span>

            </div>

            <div class="employee-bloc">

                <div class="employee-image">
                    <img src="../../../assets/img/about/about-woman-black.png">
                </div>

                <span class="employee-name">Samuel Mandeng</span>
                <span class="employee-role">PDG</span>

            </div>

            <div class="employee-bloc">

                <div class="employee-image employee-future">
                    <img src="../../../assets/img/about/random-employee.png">
                </div>
                <span class="employee-name"> Vous ?</span>
                <span class="equipe-button" routerLink="/contact">contactez-nous</span>
            </div>

        </div>
    </div>


</div>