<div class="about">

    <div class="about-top-bloc">

        <h1 class="about-top-title">QUI SOMMES NOUS ?</h1>
    </div>

    <div class="conteneur-perso histoire-bloc">

        <h1 class="histoire-title">Notre Histoire</h1>
        
        <div class="histoire-text">
            
            <span>
                Eorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt nobis deleniti suscipit reprehenderit, iusto dolorem, possimus cupiditate beatae quasi unde aperiam ullam facilis nisi esse ex laborum nihil impedit voluptates.
                Natus perferendis totam qui est debitis nostrum similique, ipsa libero nulla voluptatibus porro eos quisquam aliquam itaque at tempora aut? Officia minus, tempore molestias totam nam tenetur odit molestiae voluptatum ?
            </span>

            <span>
                Vorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt nobis deleniti suscipit reprehenderit, iusto dolorem, possimus cupiditate beatae quasi unde aperiam ullam facilis nisi esse ex laborum nihil impedit voluptates.
                Natus perferendis totam qui est debitis nostrum similique, ipsa libero nulla voluptatibus porro eos quisquam aliquam itaque at tempora aut? Officia minus, tempore molestias totam nam tenetur odit molestiae voluptatum ?
            </span>

        </div>

    </div>


    <div class="conteneur-perso mission-bloc">

        <h1 class="mission-title">Notre Mission</h1>
          
        <span class="mission-text">
                Eorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt nobis deleniti suscipit reprehenderit, iusto dolorem, possimus cupiditate beatae quasi unde aperiam ullam facilis nisi esse ex laborum nihil impedit voluptates.
                Natus perferendis totam qui est debitis nostrum similique, ipsa libero nulla voluptatibus porro eos quisquam aliquam itaque at tempora aut? Officia minus, tempore molestias totam nam tenetur odit molestiae voluptatum ?
        </span>

    </div>

    <div class="choisir-bloc">
        <h1 class="choisir-title">Pourquoi Nous Choisir</h1>
        <div class="choisir-bloc-elements">

            <div class="choisir-bloc-elements-element first">
                <img src="../../../assets/img/about-womman-call-center.png">
                <span>Toujours là pour vous</span>
                <span>7j/7 pour répondre a vos demandes et assurer la mobilité de vos collaborateurs</span>
            </div>

            <div class="choisir-bloc-elements-element">
                <img src="../../../assets/img/cible.png">
                <span>Suivi sur mesure</span>
                <span>Nous planifions ensemble chaque aspect de votre projet dès votre réservation jusqu'àu jour du voyage </span>
            </div>

            <div class="choisir-bloc-elements-element">
                <img src="../../../assets/img/about-money-fly.png">
                <span>Des prix pour tous</span>
                <span>Nous offrons tous nos services à des tarifs très compétitifs, les meilleurs du marché</span>
            </div>

            <div class="choisir-bloc-elements-element">
                <img src="../../../assets/img/about-woman-black.png">
                <span>Conseils de qualité</span>
                <span>Fort de nos plus de 10 ans d'expérience, nos experts vous guiderons. On s'occupe de tous</span>
            </div>

            <span class="small-circle jaune one"></span>
            <span class="big-circle rouge two"></span>
            <span class="big-circle blanc three"></span>
            <span class="small-circle rouge four"></span>

        </div>
    </div>


    <div class="conteneur-perso equipe-bloc">
        <h1 class="equipe-title">Nos Equipes</h1>
        <span>Elites Voyages est fière de vous présenter son équipe de professionnels qui oeuvre jour et nuit pour vous. </span>
        <div class="equipe-bloc-elements">

            <div class="equipe-bloc-elements-element">
                <img src="../../../assets/img/about-woman-black.png">
                <span>Irène XXXXXXXX</span>
                <span>Responsable d'agence</span>
                <span> </span>
            </div>
            <div class="equipe-bloc-elements-element">
                <img src="../../../assets/img/about-woman-black.png">
                <span>Esther XXXXXXXX</span>
                <span>Responsable d'agence</span>
            </div>

            <div class="equipe-bloc-elements-element">
                <img src="../../../assets/img/about-woman-black.png">
                <span>Horlande BAKOM</span>
                <span>Agent ticketing</span>
            </div>

            <div class="equipe-bloc-elements-element">
                <img src="../../../assets/img/about-woman-black.png">
                <span>Carole ABOUANG</span>
                <span>Agent ticketing</span>
            </div>

            <div class="equipe-bloc-elements-element">
                <img src="../../../assets/img/about-woman-black.png">
                <span>Christelle BAKOM</span>
                <span>Agent ticketing</span>
            </div>
            
            <div class="equipe-bloc-elements-element">
                <img src="../../../assets/img/about-woman-black.png">
                <span>Valentin</span>
                <span>Agent ticketing</span>
            </div>
            <div class="equipe-bloc-elements-element">
                <img src="../../../assets/img/about-woman-black.png">
                <span>Yves FACK</span>
                <span>Service marketing</span>
            </div>
            <div class="equipe-bloc-elements-element">
                <img src="../../../assets/img/about-woman-black.png">
                <span>Samuel Mandeng</span>
                <span>PDG</span>
            </div>

            <div class="equipe-bloc-elements-element">
                <img src="../../../assets/img/about-you.png">
                <span>Vous ???</span>
                <span> </span>
                <span class="equipe-button">contactez-nous</span>
            </div>
            
            

        </div>
    </div>
</div>