<div class="deal">

    <div class="deal-top-bloc">
        <h1 class="deal-top-title">Nos Bons Plans</h1>
    </div>
    <div class="deat-content-bloc">
        <span>Nous vous préparons de délicieuses affaires.</span>
        <span>Revenez plus tard.</span>
        <span>Merci.</span>

        <div class="partner">
            <span> Vous êtes une entreprise ou un particulier et vous avez une offre sensationnelle à partager ici ? </span>
            
            <div class="contact-call-to-action">
                <span>N'attendez plus !</span>
                <span routerLink="/contact">Contactez-nous</span>
            </div>
        </div>
    </div>

</div>