<div class="deal">

    <div class="hero">
        <h1 class="title">Nos Bons Plans</h1>
    </div>
    <div class="content my-container">

        <div class="offers">

            <div class="offer">
                <img src="../../../assets/img/good-deals/taxi.jpeg" alt="Elites voyages taxi à paris">
                <div class="infos">

                    <div class="info">
                        <span class="title">Chauffeurs VTC Dans Paris</span>
                        <span class="text">Réservez à l'avance votre moyen de transport (à bas prix) dans la ville de Paris pour vos trajets aéroportuaires ou vos déplacements dans la ville.</span>
                        <span class="text">Dévis de la course gratuit.</span>
                    </div>
                    
                    <button routerLink="/bons-plans/voitures-paris">Voir l'offre</button>
                </div>
            </div>

            <div class="offer">
                <img src="../../../assets/img/good-deals/purificateur-air.jpeg" alt="Elites voyages taxi à paris">
                <div class="infos">

                    <div class="info">
                        <span class="title">Purificateurs d'Air</span>
                        <span class="text">IBCOM Sarl est une société qui commercialise des purificateurs d'air : appareils de santé et de bien-être pour vos maisons, bureaux, écoles, voitures, ...</span>
                    </div>

                    <button routerLink="/bons-plans/purificateurs-dair">Voir l'offre</button>
                </div>
            </div>

            <div class="offer">
                <img src="../../../assets/img/good-deals/taxi.jpeg" alt="Elites voyages taxi à paris">
                <div class="infos">

                    <div class="info">
                        <span class="title">Chauffeurs VTC Dans Paris</span>
                        <span class="text">Réservez à l'avance votre moyen de transport (à bas prix) dans la ville de Paris pour vos trajets aéroportuaires ou vos déplacements dans la ville.</span>
                        <span class="text">Dévis de la course gratuit.</span>
                    </div>
                    
                    <button routerLink="/bons-plans/voitures-paris">Voir l'offre</button>
                </div>
            </div>

            <div class="offer">
                <img src="../../../assets/img/good-deals/purificateur-air.jpeg" alt="Elites voyages taxi à paris">
                <div class="infos">

                    <div class="info">
                        <span class="title">Purificateurs d'Air</span>
                        <span class="text">IBCOM Sarl est une société qui commercialise des purificateurs d'air : appareils de santé et de bien-être pour vos maisons, bureaux, écoles, voitures, ...</span>
                    </div>

                    <button routerLink="/bons-plans/purificateurs-dair">Voir l'offre</button>
                </div>
            </div>

            <div class="offer">
                <img src="../../../assets/img/good-deals/taxi.jpeg" alt="Elites voyages taxi à paris">
                <div class="infos">

                    <div class="info">
                        <span class="title">Chauffeurs VTC Dans Paris</span>
                        <span class="text">Réservez à l'avance votre moyen de transport (à bas prix) dans la ville de Paris pour vos trajets aéroportuaires ou vos déplacements dans la ville.</span>
                        <span class="text">Dévis de la course gratuit.</span>
                    </div>
                    
                    <button routerLink="/bons-plans/voitures-paris">Voir l'offre</button>
                </div>
            </div>

            <div class="offer">
                <img src="../../../assets/img/good-deals/purificateur-air.jpeg" alt="Elites voyages taxi à paris">
                <div class="infos">

                    <div class="info">
                        <span class="title">Purificateurs d'Air</span>
                        <span class="text">IBCOM Sarl est une société qui commercialise des purificateurs d'air : appareils de santé et de bien-être pour vos maisons, bureaux, écoles, voitures, ...</span>
                    </div>

                    <button routerLink="/bons-plans/purificateurs-dair">Voir l'offre</button>
                </div>
            </div>

        </div>


        <div class="partnership">

            <h5>Devenons partenaire dès aujourd'hui</h5>

            <div class="infos">

                <span class="text"> Vous êtes une entreprise ou un particulier et vous avez des offres sensationnelles à partager avec nos clients ? </span>
            
                <div class="action-bloc">
                    <span>N'attendez plus !</span>
                    <button routerLink="/contact">Contactez-nous</button>
                </div>
            </div>

        </div>

    </div>

</div>