<div class="deal">

    <div class="deal-top-bloc">
        <h1 class="deal-top-title">Nos Bons Plans</h1>
    </div>
    <div class="content my-container">

        <div class="offers">

            <div class="offer">
                <img src="../../../assets/img/good-deals/taxi.jpeg" alt="Elites voyages taxi à paris">
                <div class="infos">

                    <div class="info">
                        <span class="title">Taxi Aéroport Paris</span>
                        <span class="text">Elites Voyages vous proposons des réservations de transport dans la ville de Paris pour les trajets ou au départ des aéroports de Roissy Charles de Gaulle, Orly ou Beauvais.</span>
                    </div>
                    
                    <button>Voir l'offre</button>
                </div>
            </div>

            <div class="offer">
                <img src="../../../assets/img/good-deals/purificateur-air.jpeg" alt="Elites voyages taxi à paris">
                <div class="infos">

                    <div class="info">
                        <span class="title">Purificateurs d'Air</span>
                        <span class="text">IBCOM Sarl est une société qui vous propose des purificateurs d'air, appareils de santé et bien-être ainsi que autres offres de services.</span>
                    </div>

                    <button>Voir l'offre</button>
                </div>
            </div>

        </div>


        <div class="partnership">

            <h5>Devenons partenaire dès aujourd'hui</h5>

            <div class="infos">

                <span class="text"> Vous êtes une entreprise ou un particulier et vous avez des offres sensationnelles à partager avec nos clients ? </span>
            
                <div class="action-bloc">
                    <span>N'attendez plus !</span>
                    <button routerLink="/contact">Contactez-nous</button>
                </div>
            </div>

        </div>

    </div>

</div>