<footer>

    <div class="top">

        <div class="content my-container">
            <div class="company">
                <img class="logo-footer" routerLink="" src="../../../assets/img/header/logo.png" alt="logo d'élite voyage">
                
                <span>Votre assurance d'être assisté par des professionnels, une équipe pleinement dévouée travaillant avec pour seul but de vous faire bénéficier des meilleurs prestations.</span>
                <div class="reseau">                    
                    <img (click)="openNetwork('facebook')" src="../../../assets/img/contact/facebook-icon.png" alt="Join Elites Voyages on Facebook">
                    <img (click)="openNetwork('instagram')" src="../../../assets/img/contact/Instagram-icon.png" alt="Join Elites Voyages on Instagram">
                </div>
            </div>

            <div class="services">
                <span>Lien rapides</span>
                <ul>
                    <li routerLink="/a-propos">Qui sommes-nous ?</li>
                    <li routerLink="/contact">Contactez-nous</li>
                    <li routerLink="/recrutements">Recrutements</li>
                    <li routerLink="/confidentialite">Conditions de confidentialité</li>
                    <li routerLink="/cgu">CGU</li>
                </ul>
            </div>

            <div class="services">
                <span>Nos services</span>
                <ul>
                    <li routerLink="/vols">Billets d'avions</li>
                    <li routerLink="/hotels">Hébergement hôtel</li>
                    <li routerLink="/appartements-meubles">Appartements meublés</li>
                    <li routerLink="/voitures">Location de voitures</li>
                    <li routerLink="/tourisme">Tourisme</li>
                    <li routerLink="/dhl">DHL</li>
                <!--           
                    <li routerLink="/about">Assistance Visa</li> 
                --> 
                </ul>
            </div>

            
        </div>
    </div>

    <div class="bottom">
        <div class="content my-container">
            <span class="copyright">© 2022 - Elites Voyages, tous droits réservés</span>
            <span class="developper">
                Développé par
                <a href="https://sm-digitalizer.fr/" aria-label="Portfolio" rel="noopener" target="_blank">sm-digitalizer</a>
            </span>
        </div>
    </div>
            
</footer>