<footer>
    <div class="footer-top">
        <div class="company">
            <img src="../../../assets/img/logo.png" alt="logo d'élite voyage">
            <ul>
                <li>A propos de nous</li>
                <li>Recrutements</li>
                <li>Conactez-nous</li>
                <li>Conditions de confidentialité</li>
                <li>CGU</li>
            </ul>
        </div>

        <div class="services">
            <span>Nos services</span>
            <ul>
                <li>Billets d'avions</li>
                <li>Hébergement hôtel</li>
                <li>Appartement meublés</li>
                <li>Voiture de location</li>
                <li>Tourisme</li>
                <li>Fret et DHL</li>
              </ul>
        </div>

        <div class="follow">
            <span>Suivez-nous</span>
            
            <img src="../../../assets/img/facebook-icon.png" alt="Join Elites Voyages on Facebook">
            <img src="../../../assets/img/Instagram-icon.png" alt="Join Elites Voyages on Instagram">
        </div>
    </div>
    <div class="footer-bottom">
        <span>Copyright © 2021, Elites Voyages, tous droits réservés</span>
        <span>Développé par <span>Samuel M</span></span>
    </div>
</footer>