
$colorBlue: #115F98;
$colorGold: #EEC66C;

.conteneur-perso{
    padding: 5em 7% 0 7%;
}

.hotel{
    display: flex;
    flex-direction:column;
    width: 100%;

    .hotel-top-bloc{

        background-image: url("../../../assets/img/hotel.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 65vh;

        .hotel-top-title{
            position: absolute;
            top: 50%;
            left:50%;
            color: white;
            transform: translate(-50%,-50%);
        }
    }

    .hotel-top-bloc::before{
        content: "";
        top: 0;
        left:0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(2,22,47,0.7133228291316527) 0%, rgba(0,0,0,0.23713235294117652) 25%, rgba(0,0,0,0.20632002801120453) 100%);
    }













    .hotel-appartement{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 80px 7%;
       


        .hotel-appartement-tabs{

            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .hotel-appartement-headers{
                display: flex;
                justify-content: center;
                align-items: center;

                .tab-menu{
                    height: 60px;
                    width: fit-content;
                    padding: 0 15px;
                    cursor: pointer;
                    border-radius: 5px;
                    margin: 0 5px;
                    background-color: #d4e2e7;
                    color: #001f34;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    fa-icon{
                        font-size: 2em;
                        margin-right: 10px;
                    }

                    >span{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                }
                
                .active-tab-menu{
                    background-color: #0A0034;
                    color: white;
                    border-radius: 0;
                    padding: 35px 15px;


                }

            }

                .tabs-pages-conteneur{

                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .tab-page{
                        
                        width: 100%;
                        display: none;

                    }

                    .tab-page-hotel{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;


                        .hotel-filter-bloc{

                            width: 300px;
                            background-color: #ffffff;
                            border-radius: 5px;
                            display: flex;
                            flex-direction: column;
                            padding: 10px;

                            .search{
                                flex-direction: column;
                                    padding: 15px 0 10px 0;
                                    border-top: 2px solid rgb(180, 180, 180);

                                span{
                                    color: $colorBlue;
                                    font-weight: 540;
                                }
                                > div {
                                    display: flex;
                                    align-items: center;
                                    margin: 5px 0 0 0;
                                    width: fit-content;
                                    
                                    input{
                                    height: 17px;
                                    width: 17px;
                                    margin-right: 10px;
                                    border-radius: 50%;
                                    }
                                }

                 > div:hover {
                    font-weight: bold;
                    color: $colorBlue;
                }
                            }

                        }

                        .logement-pagination-bloc{

                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            height: 100vh;

                            .logement-hotel-bloc{

                                display: flex;
                                flex-direction: column;
                                
    
                                .logement-hotel{
                                    display: flex;
                                    align-items: flex-start;
                                    justify-content: center;
                                    margin: 10px 0;
                                    border-radius: 10px;
                                    overflow: hidden;
                                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;                            height: 200px;
                                    cursor: pointer;
                                    background-color: white;

                                    .item-image{
                                        position: relative;
        
                                        height: 100%;
                                        width: 220px;
        
                                        img{
                                            height: 100%;
                                            width: 100%;
                                        }
                                        
                                        span{
                                            position: absolute;
                                            left: 5%;
                                            bottom: 5%;
                                            color: white;
                                            font-weight: bold;
                                            z-index: 1;
                                        }
                                    }
        
                                    .item-image::after{
                                        position: absolute;
                                        content: "";
                                        top: 0;
                                        left:0;
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(22, 5, 172, 0.158);
                                    }
        
                                    .item-info{
                                        display: flex;
                                        justify-content: space-between;
                                        padding: 10px 20px;
                                        width: 530px;
                                        height: 100%;
        
                                        .item-summary{
        
                                            display: flex;
                                            flex-direction: column;
                                            width: 350px;
        
                                            span:nth-child(1){
                                                font-size: 1.5em;
                                                font-weight: 545;
                                            }
        
                                            span:nth-child(2){
                                                font-size: 0.9em;
        
                                                fa-icon{
                                                    margin-right: 3px;
                                                }
                                            }
        
                                            ngb-rating {
                                                color: $colorGold;
                                            }
        
                                            span:nth-child(4){
                                                margin-top: 10px;
                                                font-size: 0.9em;
                                            }
                                        }
        
                                        .item-detail{
        
                                            display: flex;
                                            flex-direction: column;
                                            width: 180px;
                                            justify-content: space-between;
                                            align-items: center;
        
                                            .options-top{
        
                                                display: flex;
                                                flex-direction: column;
                                                width: 100%;
        
                                                span:nth-child(1){
                                                    font-size: 0.8em;
                                                }
        
                                                span:nth-child(2){
                                                    font-size: 1.3em;
                                                    font-weight: bold;

                                                    span{
                                                        font-weight: normal;
                                                    }
                                                }
                                            }
        
                                            .options-middle{
                                                height: 5.3em;
                                                overflow-y: scroll;
                                                background:#11609818;
                                                border-radius: 5px;
                                                padding: 5px 12px;
                                                width: 100%;
        
                                                .options{
                                                    display: flex;
                                                    flex-direction: column;
        
                                                    span{
                                                        font-size: 0.8em;
            
                                                        fa-icon{
                                                            margin-right: 5px;
                                                        }
                                                    }
                                                }
                                            }
        
                                            .options-bottom{
                                                background-color: $colorBlue;
                                                color: white;
                                                border-radius: 5px;
                                                text-align: center;
                                                padding: 2px 10px;
                                                width: fit-content;
                                                transform: all 3s ease-in;
                                                cursor: pointer;
                                                width: 100%;
        
                                            }
        
                                            .options-bottom:hover{
        
                                                border: 2px solid $colorBlue;
                                                padding: 0 10px;
                                                background: none;
                                                color: $colorBlue;
                                                font-weight: bold;
                                                
                                            }
                                            
                                        }
                                    }
                                }

                                .logement-hotel:hover{

                                    box-shadow: $colorBlue 0px 0px 15px;

                                }

                            }

                        }

                    }

                    .tab-page-appart{

                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .logement-pagination-bloc{

                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .logement-appart-bloc{

                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                align-items: flex-start;
                                width: 100%;

                                .logement-appart{

                                    background: white;
                                    width: 250px;
                                    margin: 10px;
                                    border-radius: 10px;
                                    overflow: hidden;
                                    box-shadow: rgba(61, 61, 61, 0.555) 0px 2px 8px 0px;
                                    cursor: pointer;


                                    .item-image{

                                        width:100%;
                                        height: 200px;
                                        position: relative;

                                        img{
                                            height: 100%;
                                            width:100%;
                                        }

                                        span{
                                            position: absolute;
                                            left: 5%;
                                            bottom: 5%;
                                            color: white;
                                            font-weight: bold;
                                            z-index: 1;
                                            position: absolute;
                                        }
                                    
                                    }

                                    .item-image::after{
                                        position: absolute;
                                        content: "";
                                        top: 0;
                                        left:0;
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(22, 5, 172, 0.158);
                                    }

                                    .item-info{

                                        display: flex;
                                        flex-direction: column;
                                        padding: 10px;

                                        .item-summary{

                                            display: flex;
                                            flex-direction: column;
                                            font-size: 0.9em;

                                            .item-name{

                                                font-size: 1.5em;
                                                font-weight: 545;

                                            }

                                            .item-type{

                                                margin: 5px 0;

                                                span:nth-child(1){

                                                    margin-right: 5px;

                                                }

                                                span:nth-child(2){

                                                    font-size: 0.85em;

                                                }

                                            }

                                        }


                                        .options-top{

                                            display: flex;
                                            flex-direction: column;
                                            width: 100%;
                                            margin: 10px 0;
    
                                            span:nth-child(1){

                                                font-size: 0.8em;
                                                
                                            }
    
                                            span:nth-child(2){

                                                font-size: 1.1em;
                                                font-weight: bold;

                                                span{

                                                    font-weight: normal;

                                                }

                                            }

                                        }

                                        .options-bottom{

                                            background-color: $colorBlue;
                                            color: white;
                                            border-radius: 5px;
                                            text-align: center;
                                            width: fit-content;
                                            transform: all 3s ease-in;
                                            cursor: pointer;
                                            font-size: 0.9em;
                                            margin: 0 auto;
                                            width: 100%;
                                            padding: 2px 0;
                                        }
    
                                        .options-bottom:hover{
    
                                            border: 2px solid $colorBlue;
                                            background: none;
                                            color: $colorBlue;
                                            font-weight: bold;
                                            padding:0;
                                        }

                                    }

                                }

                                .logement-appart:hover{
                                    box-shadow: $colorBlue 0px 0px 15px;

                                }

                            }
                            
                        }
                    
                    }

                    .active-tab-page{
                        display: flex;
                        padding: 20px;
                        background-color: #f5f5f5;
                        border-radius: 5px;
                    }

                }
            
        }
    }
}