
<header (scroll)="onWindowScroll()" [ngClass]="isNotYetImplemented?'navbar-background':''">

    <div class="content my-container">
        <img routerLink="/accueil" src="../../../assets/img/header/logo.png" alt="Logo of Elites Voyages">

        <div class="header-right">

            <nav>
                <ul>
                    <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="/accueil">Accueil</a></li>
                    <li class="services-bloc" (mouseover)="showHideServices()" (mouseout)="showHideServices()">
                            <div class="services">
                                <span>Services</span> 
                                <fa-icon [icon]="faCaretDown"></fa-icon>
                            </div>
                            <ul>
                                <li><a routerLinkActive="active-link" routerLink="/vols">Billets d'Avion</a></li>
                                <li><a routerLinkActive="active-link" routerLink="/hotels">Hôtels</a></li>
                                <li><a routerLinkActive="active-link" routerLink="/appartements-meubles">Appartements Meublés</a></li>
                                <li><a routerLinkActive="active-link" routerLink="/voitures">Location Voitures</a></li>
                                <li><a routerLinkActive="active-link" routerLink="/tourisme">Tourisme</a></li>
                                <li><a routerLinkActive="active-link" routerLink="/dhl">DHL</a></li>
                            <!--
                                <li><a routerLinkActive="active-link" routerLink="/assistance-visa">Assistance Visas</a></li>
                            -->
                            </ul>
                    </li>
                    <li><a routerLinkActive="active-link" routerLink="/a-propos">À propos</a></li>
                    <li><a routerLinkActive="active-link" routerLink="/bons-plans">Bons plans</a></li>
                    <li><a routerLinkActive="active-link" routerLink="/contact">Contactez-nous</a></li>
                </ul>

            </nav>

            <div class="currencies">

                <div class="currencies-top" (click)="showHideCurrencies()">
                    <span> {{currentCurrency?.symbol}} </span>
                    <fa-icon [icon]="faCaretDown"></fa-icon>
                </div>

                <div class="currencies-bottom">

                    <ng-template ngFor let-currency [ngForOf]="currencies">
   
                        <div class="value" *ngIf="currentCurrency?.symbol === currency.symbol; else normal">
                            <span>{{currency?.symbol}}</span>
                            <span> {{currency?.label}}</span>
                        </div>
                        <ng-template #normal>
                            <div (click)="chooseCurrency(currency.symbol)">
                                <span>{{currency.symbol}}</span>
                                <span>{{currency.label}}</span>
                            </div>
                        </ng-template>
                        
                    </ng-template>

                </div>

            </div>

            <div class="languages" (mouseover)="showHideLanguages()" (mouseout)="showHideLanguages()">
                <div class="languages-top">
                        <fa-icon [icon]="faGlobe"></fa-icon>
                        <span>{{selectedLanguage}}</span>
                        <fa-icon [icon]="faCaretDown"></fa-icon>
                </div>
            <div class="languages-bottom">

                    <div (click)="chooseEnglish()">
                        <input class="en" type="checkbox" checked>
                        <span>English <img src="../../../assets/img/header/en.png" alt="Drapeau Anglais"></span>
                    </div>

                    <div (click)="chooseFrench()">
                        <input class="fr" type="checkbox">
                        <span>French <img src="../../../assets/img/header/fr.jpeg" alt="Drapeau Français"></span>
                    </div>

                </div>
            </div>
        </div>

        <div class="burger" (click)="onBurgerMenu()">
            <input type="checkbox" />
        
            <span></span>
            <span></span>
            <span></span>
        </div>


    </div>

</header>