$colorBlue: #115F98;

header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    width: 100%;
    padding: 10px 7%;
    position: fixed;
    height: 5.5em;
    z-index: 2;

    img{
        height: 100%;
        cursor: pointer;
    }

    .header-right{
        display: flex;
        align-items: center;
        color: white;
        font-weight: 550;
        justify-content: center;
   

    nav{

        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 70px;

        ul{
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            margin: 0;
        
            li{
                margin-left: 15px;
                cursor: pointer;

                a{
                    text-decoration: none;
                    padding: 5px 10px;
                    color: white;
                }

                a:hover{
                    background-color: $colorBlue;
                    border-radius: 5px;
                    transition: all 0.3s ease-in-out;

                }

                .active-link{
                    background-color: $colorBlue;
                    border-radius: 5px;
                }

            }
            

            .services{
                display: flex;
                flex-direction: column;
                position: relative;
                
                span{
                    margin: 0;
                    height: 100%;
                    width: 100%;
                    padding: 5px 8px;

                }

                ul{
                    display: none;
                }

                .show-service-bottom{
                    display: flex;            

                    flex-direction: column;
                    position: absolute;
                    top: 35px;
                    background-color: black;
                    padding: 10px;
                    left: 50%;
                    transform: translateX(-50%);

                    li{
                        margin: 10px 0;
                        white-space: nowrap;
                        font-weight: 450;
                        font-size: 0.9em;
                    }

                }
            }
        }
    }

    .languages{
        display: flex;
        align-items:center;
        height: 100%;
        cursor: pointer;
        position: relative;

        .languages-top{

            padding: 5px 8px;

            fa-icon{
                font-size: 1.2em;
                font-weight: 100;
                margin: 0 8px;        
            }
        }

        .languages-bottom{
            display: none;
        }

        .show-language-bottom{
            position: absolute;
            top: 35px;
            left: 50%;
            transform: translateX(-50%);
            padding: 5px 10px;
            background-color: black;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            
            div{
                position: relative;
                font-weight: 100;
                margin: 10px 0;

                input{
                    position: absolute;
                    width: 100%;
                    opacity: 0;
                    cursor: pointer;

                }

                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        height: 13px;
                        width: 19px;
                        margin-left: 7px;
                    }
                }
            }
        }
        
    }
    }
}

.navbar-background-on-scroll{
    background-color: black;
    transition: all 0.3s ease-in;
}


    
