<div class="car-paris">
    <div class="hero">
        <h1 class="title">Chauffeur VTC sur Paris</h1>
    </div>

    <div class="content my-container">

        <p-breadcrumb styleClass="breadcrumb" [model]="items"></p-breadcrumb>
        
        <div class="header">

            <div class="infos">

                <div class="texts">
                    <h2>VOS TRAJETS SUR PARIS À DES PRIX AVANTAGEUX</h2>
                    <span>Elites Voyages vous propose des moyens de transport privés pour vos déplacements dans la ville de paris. Nous regroupons des chauffeurs professionnels et expérimentés dont nous bloquons le planning spécialement pour votre prise en charge.</span>
                    <span>Pour un prix fixe et sans surprise, effectuez gratuitement une demande de réservation.</span> 
                </div>

                 <div class="images">

                 </div>
            </div>

            <form [formGroup]="carParisForm" (ngSubmit)="onSubmitCarParisForm()">

                <div class="element">

                    <div class="adresse">
                        <div class="label">
                            <span>Adresse de départ </span>
                            <span class="red-star">*</span>
                        </div>

                        <div class="value">
                            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                            <input type="text" class="input-text" placeholder="Aéroport de Roissy" formControlName="departure">
                        </div>   
                    </div>
                    <div *ngIf="isCarParisFormSubmitted && f.departure.errors" class="error-feedback">
                        <small *ngIf="f.departure.errors.required">Adresse départ manquante</small>
                    </div>                    
                </div>

                <div class="element">

                    <div class="adresse">
                        <div class="label">
                            <span>Adresse d'arrivée </span>
                            <span class="red-star">*</span>
                        </div>

                        <div class="value">
                            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                            <input type="text" class="input-text" placeholder="19 Avenue martre, argenteuil" formControlName="arrival">
                        </div>
                    </div>

                    <div *ngIf="isCarParisFormSubmitted && f.arrival.errors" class="error-feedback">
                        <small *ngIf="f.arrival.errors.required">Adresse arrivée manquante</small>
                    </div>

                </div>

                <div class="element">
                    <div class="date">
                        <div class="label">
                            <span>Date prise en charge </span>
                            <span class="red-star">*</span>
                        </div>

                        <div class="value">
                            <fa-icon [icon]="faCalendarDay"></fa-icon>
                        <p-calendar dateFormat="dd-mm-yy" inputId="dateformat" [minDate]="minDate" [readonlyInput]="true" placeholder="dd-mm-yy" formControlName="date"></p-calendar>  
                        </div>
                    </div>
                    <div *ngIf="isCarParisFormSubmitted && f.date.errors" class="error-feedback">
                        <small *ngIf="f.date.errors.required">Date manquante</small>
                    </div>                     
                </div>
                    
                <div class="element">
                    <div class="hour">
                        <div class="label">
                            <span>Heure prise en charge </span>
                            <span class="red-star">*</span>
                        </div>

                        <div class="value">
                            <fa-icon [icon]="faCalendarDay"></fa-icon>
                            <p-calendar [timeOnly]="true"  inputId="timeonly" placeholder="hh:mm" [readonlyInput]="true" formControlName="hour"></p-calendar>
                        </div>
                    </div>

                    <div *ngIf="isCarParisFormSubmitted && f.hour.errors" class="error-feedback">
                        <small *ngIf="f.hour.errors.required">Heure manquante</small>
                    </div>
                </div>

                <div class="gender-names">

                    <div class="element">
                        <div class="gender">

                            <div class="label">
                                <span>Civilités</span>
                                <span class="red-star">*</span>
                            </div>
                            <select formControlName="civility">
                                <option [ngValue]="null" disabled></option>
                                <option *ngFor="let civility of civilities" [ngValue]="civility">{{civility}}</option>
                            </select>
                            
                        </div>
            
                        <div *ngIf="isCarParisFormSubmitted && f.civility.errors" class="error-feedback">
                          <small *ngIf="f.civility.errors.required">Renseignez</small>
                        </div>
                    </div>

                    <div class="element">
                        <div class="lastname">
                            <div class="label">
                                <span>Nom</span>
                                <span class="red-star">*</span>
                            </div>
                            <input type="text" placeholder="Entrez votre nom" formControlName="lastname">
                        </div>
                        <div *ngIf="isCarParisFormSubmitted && f.lastname.errors" class="error-feedback">
                            <small *ngIf="f.lastname.errors.required">Nom manquant</small>
                        </div>
                    </div>

                    <div class="element">
                        <div class="firstname">
                            <div class="label">
                                <span>Prénom</span>
                            </div>
                            <input type="text" placeholder="Entrez votre prénom" formControlName="firstname">
                        </div>
                    </div>
                    
                    <div class="element">
                        <div class="email">
                            <div class="label">
                                <span>Email</span>
                                <span class="red-star">*</span>
                            </div>
                            <input type="email" placeholder="Email de contact" formControlName="email">
                        </div>
                        <div *ngIf="isCarParisFormSubmitted && f.email.errors" class="error-feedback">
                            <small *ngIf="f.email.errors.required">Email manquant</small>
                        </div>
                    </div>
                </div>

                <button type="submit" >
                    <ng-container *ngIf="isCarFormSubmittedAndNotErrorOnClientSide; else defaultText">
                        <p-progressSpinner [style]="{width: '20px', height: '20px'}" strokeWidth="8"></p-progressSpinner>
                      </ng-container>
                </button>

            </form>
            <ng-template #defaultText>Réservez</ng-template>

        </div>


    </div>
    <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0', backgroung:'red'}}"></p-toast>

</div>