<div class="tour">
    <div class="content my-container">
        <p-breadcrumb styleClass="breadcrumb" [model]="items"></p-breadcrumb>
        <div class="datas">
            <div class="data">
                <h2>{{tour.title}}</h2>
                <div class="tour-infos">
                    <ng-template ngFor let-tag [ngForOf]="tour.infos">

                        <div *ngIf="tag.icon == 'faMapMarkerAlt'" class="tour-info">
                            <fa-icon [icon]= faMapMarkerAlt > </fa-icon>
                            <span> {{tag.text}} </span>
                        </div>

                        <div *ngIf="tag.icon == 'faCalendarDay'" class="tour-info">
                            <fa-icon [icon]= faCalendarDay > </fa-icon>
                            <span> {{tag.text}} </span>
                        </div>

                        <div *ngIf="tag.icon == 'faUser'" class="tour-info">
                            <fa-icon [icon]= faUser> </fa-icon>
                            <span> {{tag.text}} </span>
                        </div>

                        <div *ngIf="tag.icon == 'faClock'" class="tour-info">
                            <fa-icon [icon]= faClock > </fa-icon>
                            <span> {{tag.text}} </span>
                        </div>

                        <div *ngIf="tag.icon == 'faUsers'" class="tour-info">
                            <fa-icon [icon]= faUsers > </fa-icon>
                            <span> {{tag.text}} </span>
                        </div>
                        
                    </ng-template>

                </div>
                
                <p-galleria [value]="tour.images" [responsiveOptions]="responsiveOptions" [numVisible]="7"> 
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.previewImageSrc"/>
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img [src]="item.thumbnailImageSrc" style="display: block; width: 80px; height: 70px;"/>
                        </div>
                    </ng-template>
                </p-galleria>

                <span class="description-title">{{tour.description?.title}}</span>
                <span class="description-content">{{tour.description?.text}}</span>


                <div class="tags-bloc">
                    <span class="tag-title">{{tour.includes.title}}</span>
                    <div class="tags">

                        <ng-template ngFor let-tag [ngForOf]="tour.includes.tags">

                            <div *ngIf="tag.icon == 'faPassport'" class="tag">
                                <fa-icon [icon]="faPassport"></fa-icon>
                                <span>{{tag.text}}</span>
                            </div>

                            <div *ngIf="tag.icon == 'faPlaneDeparture'" class="tag">
                                <fa-icon [icon]="faPlaneDeparture"></fa-icon>
                                <span>{{tag.text}}</span>
                            </div>

                            <div *ngIf="tag.icon == 'faShuttleVan'" class="tag">
                                <fa-icon [icon]="faShuttleVan"></fa-icon>
                                <span>{{tag.text}}</span>
                            </div>

                            <div *ngIf="tag.icon == 'faBed'" class="tag">
                                <fa-icon [icon]="faBed"></fa-icon>
                                <span>{{tag.text}}</span>
                            </div>

                            <div *ngIf="tag.icon == 'faMugHot'" class="tag">
                                <fa-icon [icon]="faMugHot"></fa-icon>
                                <span>{{tag.text}}</span>
                            </div>

                            <div *ngIf="tag.icon == 'faMountain'" class="tag">
                                <fa-icon [icon]="faMountain"></fa-icon>
                                <span>{{tag.text}}</span>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="program">
                    
                    <div class="title">
                        <h5>{{tour.program?.title}}</h5>
                        <span>( {{tour.program?.teaser}} )</span>
                    </div>


                    <p-accordion [multiple]="true">
                        <ng-template ngFor let-day [ngForOf]="tour.program?.days">

                        <p-accordionTab header={{day?.header}}>
                            <ng-template ngFor let-content [ngForOf]="day?.content">
                                <span class="program-text">{{content.text}}</span>
                            </ng-template>
                        </p-accordionTab>
                        </ng-template>
                    </p-accordion>
                </div>
            </div>



            <div class="booking">

                <div class="teaser">
                    <img src="../../../assets/img/home-tourism.png">
                    <span>Le monde devient petit village avec </span>
                    <b>Elites Voyages</b>
                </div>
                
                <form  [formGroup]="tourForm">

                    <div class="header">
                        <span>Tarif</span>
                        <span class="final-price">{{price | number}} XAF</span>
                    </div>

                    <div class="date">
                        <div class="label">
                            <span>Date du voyage </span>
                            <span class="red-star">*</span>
                        </div>
    
                        <fa-icon [icon]="faCalendarDay"></fa-icon>
                        <div class="not-editable" *ngIf="tour.date.editable == false ; else editable">
                            <span>{{tour.date.value}}</span>
                        </div>
                        <ng-template #editable>
                            <p-calendar dateFormat="dd-mm-yy" inputId="dateformat" placeholder="dd-mm-yy"></p-calendar>                        
                        </ng-template>
                    </div>
    
                    <div class="rooms">
    
                        <ng-template ngFor let-room [ngForOf]="tour.bedrooms">
                            <div class="room" (click)="choosePrice(room.price)">
                                <p-radioButton [inputId]="room.key" [value]="room" formControlName="selectedRoom"></p-radioButton>
                                <label [for]="room.key">{{room.name}}</label>
                                <fa-icon [icon]="faQuestionCircle" pTooltip={{room.explain}} tooltipPosition="bottom"></fa-icon>
                            </div>
                        </ng-template>
                    </div>
    
                    <div class="travellers">
    
                        <div class="info">
                            <div class="label">
                                <span>Adulte(s) </span>
                                <span>Age 18+</span>
                            </div>
        
                            <div class="value" >                            
                                <div class="datas-edit">
                                    <div class="passenger-info">
                                        <div class="controls">
                                            <fa-icon class="minus" [icon]="faMinusCircle" (click)="onEditAdultPassenger(-1)"></fa-icon>
                                            <span> {{nombrePassagerAdulte}} </span>
                                            <fa-icon class="plus" [icon]="faPlusCircle" (click)="onEditAdultPassenger(1)"></fa-icon>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
                        </div>
    
                        <div class="info">
                            <div class="label">
                                <span>Enfants </span>
                                <span>Age 6 - 17</span>
                            </div>
        
                            <div class="value" >                            
                                <div class="datas-edit">
                                    <div class="passenger-info">
                                        <div class="controls">
                                            <fa-icon class="minus" [icon]="faMinusCircle" (click)="onEditChildPassenger(-1)"></fa-icon>
                                            <span> {{nombrePassagerEnfant}} </span>
                                            <fa-icon class="plus" [icon]="faPlusCircle" (click)="onEditChildPassenger(1)"></fa-icon>
                                            
                                        </div>
                                    </div>
        
                                </div>
                            </div>
                        </div>
    
                        <div class="info">
                            <div class="label">
                                <span>Bébés </span>
                                <span>Age 0 - 5</span>
                            </div>
        
                            <div class="value" >                            
                                <div class="datas-edit">
                                    <div class="passenger-info">
                                        <div class="controls">
                                            <fa-icon class="minus" [icon]="faMinusCircle" (click)="onEditBabyPassenger(-1)"></fa-icon>
                                            <span> {{nombrePassagerBebe}} </span>
                                            <fa-icon class="plus" [icon]="faPlusCircle" (click)="onEditBabyPassenger(1)"></fa-icon>
                                            
                                        </div>
                                    </div>
        
                                </div>
                            </div>
                        </div>
    
                        
    
                    </div>
    
                    
          
    
                    <div class="gender-names">
    
                        <div class="gender">
              
                            <div class="label">
                                <span>Civilités</span>
                                <span class="red-star">*</span>
                            </div>
                            <select class="custom-select" (change)="changeReason($event)" >
                                <option *ngFor="let civility of civilities" [ngValue]="civility">{{civility}}</option>
                            </select>
                            
                        </div>
        
                        <div class="firstname">
                            <div class="label">
                                <span>Nom</span>
                                <span class="red-star">*</span>
                            </div>
                            <input type="text" placeholder="Entrez votre nom">
                        </div>
    
                        <div class="lastname">
                            <div class="label">
                                <span>Prénom</span>
                            </div>
                            <input type="text" placeholder="Entrez votre prénom">
                        </div>
    
                        <div class="email">
                            <div class="label">
                                <span>Email</span>
                                <span class="red-star">*</span>
                            </div>
                            <input type="email" placeholder="Email de contact">
                        </div>
                        
                    </div>
    
                    <button type="button" (click)="showModalDialog()" pButton label="Réservez"></button>
    
                    <p-dialog header="Tarif personalisé" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
                        [draggable]="false" [resizable]="false">
                            <span>Nous avons bien reçu votre demande .</span>
                            <span>vous recontacterons car il est possible de peaufiner votre voyage afin de vous proposer tarifpersonalisé au regard des informations que vous nous avez envoyées .</span>
    
                    </p-dialog>
                </form>
            </div>
            
        </div>
    </div>
</div>
