<div class="home">

    <div class="slider">
        <swiper

            [loop]="true"
            [effect]="'fade'"
            [navigation]="true"
            [pagination]="{
                clickable: true
            }"

            class="mySwiper"
            #swiper
        >

            <ng-template swiperSlide>
                <div class="mySlide slide-one">
                    <div class="slider-text">
                        <h1>Voyagez en toute sérénité</h1>
                        <span>Nous vous garantissons un accompagnement sur mesure dès la planification jusqu'au jour de votre voyage</span>
                        <div class="button-bloc">
                            <button routerLink="/vols">Achetez un billet</button>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div class="mySlide slide-two">
                    <div class="slider-text">
                        <h1>Réservez un hébergement</h1>
                        <span>Nous vous assistons dans le choix et la réservation de votre hôtel ou appartement meublé en fonction de vos goûts</span>
                        <div class="button-bloc">
                            <button routerLink="/hotels">Hôtels</button>
                            <button routerLink="/appartements-meubles">Appartements</button>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div class="mySlide slide-three">
                    <div class="slider-text">
                        <h1>Louer un véhicule</h1>
                        <span>Nous mettons à votre disposition un large choix de véhicules pour tous vos déplacements</span>
                        <div class="button-bloc">
                            <button routerLink="/voitures">Réserver</button>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div class="mySlide slide-four">
                    <div class="slider-text">
                        <h1>À votre écoute 7j/7</h1>
                        <span>Nos experts répondent à toutes vos préoccupations, n'hésitez donc pas si vous ressentez le besoin de nous joindre</span>
                        <div class="button-bloc">
                            <button routerLink="/contact">Nous contacter</button>
                        </div>
                    </div>
                </div>
            </ng-template>

        </swiper>

        <div class="arrows my-container">
            <button class="prev" (click)="arrowSlide(-1)"><fa-icon [icon]="faChevronLeft"></fa-icon></button>
            <button class="next" (click)="arrowSlide(1)"><fa-icon [icon]="faChevronRight"></fa-icon></button>
        </div>

    </div>

    <app-home-about></app-home-about>

    <div class="services-bloc">

        <div class="content my-container">
            <h1 class="title">NOS SERVICES</h1>
            <div class="services">

                <div class="service" *ngFor="let service of servicesList">
                    <span class="service-icon">
                        <fa-icon [icon]="service.icon"></fa-icon>
                    </span>
                    <div class="service-text">
                        <h3>{{service.label}}</h3>
                        <p>{{service.description}}</p>
                        <span routerLink={{service.link}}>En Savoir Plus</span>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <app-home-filghts></app-home-filghts>

    <app-home-hotel-app></app-home-hotel-app>

    <app-home-visas></app-home-visas>

    <app-home-cars></app-home-cars>

    <app-home-tourism></app-home-tourism>

</div>

