<div class="visa">

    <div class="visa-top-bloc">
        <h1 class="visa-top-title">ASSISTANCE VISA</h1>
    </div>

    

    <div class="content my-container">

        <div class="intro">
            <span> 
                <b>Elites Voyages</b> vous fournit une assistance efficace dans la constitution de votre dossier avant dépôt dans les ambassades.
            </span>

            <span>
                Trouvez ci-après une liste non exhaustives de quelques pays pour lesquels nous pouvons vous accompagner dans votre démarche.
            </span>
        </div>

        <div class="visa-menu">

            <ng-template ngFor let-visa [ngForOf]="visasMenuList"; let-index = "index"; let-first="first">
                <button [ngClass]="first?'active-menu':''" (click)="onVisa(index, visa.name)">{{visa.name}}</button>
            </ng-template>
     
        </div>

        <ng-template ngFor let-visa [ngForOf]="visasDataList"; let-index = "index"; let-first="first">

            <div class="accordion">

                <div class="accordion-header" (click)="showHideAccordion(index)">

                    <div class="flag-country">
                        <img src={{visa.flag}}>
                        <span> {{visa.country}} </span>
                    </div>

                    <div class="signs">
                        <span *ngIf="isClicked"><fa-icon  [icon]="faMinus"></fa-icon></span>
                        <span *ngIf="!isClicked"><fa-icon [icon]="faPlus"></fa-icon></span>
                    </div>

                </div>


                <div class="accordion-content assistance-visa">

                    <div class="images-bloc">
                        <p-image src="../../../assets/img/dubai.jpeg" alt="Image" width="100%" [preview]="true">
                        </p-image>

                        <div class="images-middle">
                            <p-image src="../../../assets/img/dubai.jpeg" alt="Image" width="100%" [preview]="true">
                            </p-image>
                            <p-image src="../../../assets/img/dubai.jpeg" alt="Image" width="100%" [preview]="true">
                            </p-image>
                        </div>
                        <div class="images-right">
                            <p-image src="../../../assets/img/dubai.jpeg" alt="Image" width="100%" [preview]="true">
                            </p-image>
                            <p-image src="../../../assets/img/dubai.jpeg" alt="Image" width="100%" [preview]="true">
                            </p-image>
                        </div>
                    </div>

                    <div class="accordion-data">
                        <h5>Pièces à fournir</h5>

                        <div *ngIf="visa.many" class="general-advice">
                            <span>Pièces à fournir dans tous les cas</span>
                            <ul>
                                <li *ngFor="let general of visa.general">{{general.libelle}}</li>
                            </ul>
                        </div>

                        <div class="data-bloc" *ngFor="let typeVisa of visa.visas">
                            <span class="particular-advice"> {{typeVisa.type}} ( <b>{{typeVisa.delais}}</b> )</span>
                            <ul>
                                <li *ngFor="let piece of typeVisa.pieces">{{piece.libelle}}</li>
                            </ul>
                            <ng-template ngFor let-price [ngForOf]="typeVisa.frais">
                                <span> {{price.libelle}} <b>{{price.prix | number}}</b> XAF</span>
                            </ng-template>

                            <b class="indications"> {{typeVisa.indication}} </b>

                            <button class="buy">Nous contacter</button>

                        </div>

                    </div>
                    </div>

            </div>

        </ng-template>
            

    </div>

</div>
