<div class="visa">

    <div class="visa-top-bloc">
        <h1 class="visa-top-title">VISA DUBAÏ</h1>
    </div>

    <div class="accordions conteneur-perso">
        
        <div class="accordion">
            <div class="accordion-header dubai">
                <fa-icon [icon]="faMinus"></fa-icon>
                <span>Dubaî</span>
                <img src="../../../assets/img/visa&Assis/uae-flag.gif">
            </div>

            <div class="accordion-content active-accordion">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident libero dolor dolorem quidem eos aut quibusdam aspernatur eum laborum, ipsa eius illo? Praesentium nisi dicta placeat doloremque blanditiis odio. Atque.
                Aliquam tenetur temporibus qui sit tempora non dicta ducimus, dolores iste id omnis, explicabo possimus. Natus dolores soluta ipsam, quasi quisquam corporis eaque mollitia libero suscipit itaque inventore esse sint.
                Cupiditate ipsa iure laudantium laborum atque pariatur, nesciunt eaque nemo laboriosam labore, amet expedita! Fuga eum voluptatem voluptatum! Commodi unde quas atque molestiae ratione itaque eveniet repudiandae eos ducimus hic?
                Sit iste corrupti iusto provident vel blanditiis, labore adipisci consequuntur voluptate illo ex quod saepe aspernatur, sed optio laborum quam rerum nostrum dicta! Enim et recusandae, est temporibus ipsa voluptate!
                Veniam debitis, at sint quam sequi, sunt expedita facilis blanditiis ad dolorum reiciendis laboriosam numquam voluptatibus illo illum? Facere ratione omnis est numquam assumenda. Ipsum possimus iure natus eius exercitationem?
            
            </div>

        </div>

        <div class="accordion">
            <div class="accordion-header" (click)="showHideAccordion(0)" (click)="onClicked0()">
                <span *ngIf="iscliked0"><fa-icon  [icon]="faMinus"></fa-icon></span>
                <span *ngIf="!iscliked0"><fa-icon [icon]="faPlus"></fa-icon></span>

                <span>Dubaî</span>
                <img src="../../../assets/img/visa&Assis/uae-flag.gif">
            </div>

            <div class="accordion-content assistance-visa">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident libero dolor dolorem quidem eos aut quibusdam aspernatur eum laborum, ipsa eius illo? Praesentium nisi dicta placeat doloremque blanditiis odio. Atque.
                Aliquam tenetur temporibus qui sit tempora non dicta ducimus, dolores iste id omnis, explicabo possimus. Natus dolores soluta ipsam, quasi quisquam corporis eaque mollitia libero suscipit itaque inventore esse sint.
                Cupiditate ipsa iure laudantium laborum atque pariatur, nesciunt eaque nemo laboriosam labore, amet expedita! Fuga eum voluptatem voluptatum! Commodi unde quas atque molestiae ratione itaque eveniet repudiandae eos ducimus hic?
                Sit iste corrupti iusto provident vel blanditiis, labore adipisci consequuntur voluptate illo ex quod saepe aspernatur, sed optio laborum quam rerum nostrum dicta! Enim et recusandae, est temporibus ipsa voluptate!
                Veniam debitis, at sint quam sequi, sunt expedita facilis blanditiis ad dolorum reiciendis laboriosam numquam voluptatibus illo illum? Facere ratione omnis est numquam assumenda. Ipsum possimus iure natus eius exercitationem?
            
            </div>

        </div>

        <div class="accordion">
            <div class="accordion-header" (click)="showHideAccordion(1)" (click)="onClicked1()">
                <span *ngIf="iscliked1"><fa-icon  [icon]="faMinus"></fa-icon></span>
                <span *ngIf="!iscliked1"><fa-icon [icon]="faPlus"></fa-icon></span>

                <span>Dubaî</span>
                <img src="../../../assets/img/visa&Assis/uae-flag.gif">
            </div>

            <div class="accordion-content assistance-visa">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident libero dolor dolorem quidem eos aut quibusdam aspernatur eum laborum, ipsa eius illo? Praesentium nisi dicta placeat doloremque blanditiis odio. Atque.
                Aliquam tenetur temporibus qui sit tempora non dicta ducimus, dolores iste id omnis, explicabo possimus. Natus dolores soluta ipsam, quasi quisquam corporis eaque mollitia libero suscipit itaque inventore esse sint.
                Cupiditate ipsa iure laudantium laborum atque pariatur, nesciunt eaque nemo laboriosam labore, amet expedita! Fuga eum voluptatem voluptatum! Commodi unde quas atque molestiae ratione itaque eveniet repudiandae eos ducimus hic?
                Sit iste corrupti iusto provident vel blanditiis, labore adipisci consequuntur voluptate illo ex quod saepe aspernatur, sed optio laborum quam rerum nostrum dicta! Enim et recusandae, est temporibus ipsa voluptate!
                Veniam debitis, at sint quam sequi, sunt expedita facilis blanditiis ad dolorum reiciendis laboriosam numquam voluptatibus illo illum? Facere ratione omnis est numquam assumenda. Ipsum possimus iure natus eius exercitationem?
            
            </div>

        </div>


        <div class="accordion">
            <div class="accordion-header" (click)="showHideAccordion(2)" (click)="onClicked2()">
                <span *ngIf="iscliked2"><fa-icon  [icon]="faMinus"></fa-icon></span>
                <span *ngIf="!iscliked2"><fa-icon [icon]="faPlus"></fa-icon></span>

                <span>Dubaî</span>
                <img src="../../../assets/img/visa&Assis/uae-flag.gif">
            </div>

            <div class="accordion-content assistance-visa">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident libero dolor dolorem quidem eos aut quibusdam aspernatur eum laborum, ipsa eius illo? Praesentium nisi dicta placeat doloremque blanditiis odio. Atque.
                Aliquam tenetur temporibus qui sit tempora non dicta ducimus, dolores iste id omnis, explicabo possimus. Natus dolores soluta ipsam, quasi quisquam corporis eaque mollitia libero suscipit itaque inventore esse sint.
                Cupiditate ipsa iure laudantium laborum atque pariatur, nesciunt eaque nemo laboriosam labore, amet expedita! Fuga eum voluptatem voluptatum! Commodi unde quas atque molestiae ratione itaque eveniet repudiandae eos ducimus hic?
                Sit iste corrupti iusto provident vel blanditiis, labore adipisci consequuntur voluptate illo ex quod saepe aspernatur, sed optio laborum quam rerum nostrum dicta! Enim et recusandae, est temporibus ipsa voluptate!
                Veniam debitis, at sint quam sequi, sunt expedita facilis blanditiis ad dolorum reiciendis laboriosam numquam voluptatibus illo illum? Facere ratione omnis est numquam assumenda. Ipsum possimus iure natus eius exercitationem?
            
            </div>

        </div>




        <div class="accordion">
            <div class="accordion-header" (click)="showHideAccordion(3)" (click)="onClicked3()">
                <span *ngIf="iscliked3"><fa-icon  [icon]="faMinus"></fa-icon></span>
                <span *ngIf="!iscliked3"><fa-icon [icon]="faPlus"></fa-icon></span>

                <span>Dubaî</span>
                <img src="../../../assets/img/visa&Assis/uae-flag.gif">
            </div>

            <div class="accordion-content assistance-visa">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident libero dolor dolorem quidem eos aut quibusdam aspernatur eum laborum, ipsa eius illo? Praesentium nisi dicta placeat doloremque blanditiis odio. Atque.
                Aliquam tenetur temporibus qui sit tempora non dicta ducimus, dolores iste id omnis, explicabo possimus. Natus dolores soluta ipsam, quasi quisquam corporis eaque mollitia libero suscipit itaque inventore esse sint.
                Cupiditate ipsa iure laudantium laborum atque pariatur, nesciunt eaque nemo laboriosam labore, amet expedita! Fuga eum voluptatem voluptatum! Commodi unde quas atque molestiae ratione itaque eveniet repudiandae eos ducimus hic?
                Sit iste corrupti iusto provident vel blanditiis, labore adipisci consequuntur voluptate illo ex quod saepe aspernatur, sed optio laborum quam rerum nostrum dicta! Enim et recusandae, est temporibus ipsa voluptate!
                Veniam debitis, at sint quam sequi, sunt expedita facilis blanditiis ad dolorum reiciendis laboriosam numquam voluptatibus illo illum? Facere ratione omnis est numquam assumenda. Ipsum possimus iure natus eius exercitationem?
            
            </div>

        </div>




        <div class="accordion">
            <div class="accordion-header" (click)="showHideAccordion(4)" (click)="onClicked4()">
                <span *ngIf="iscliked4"><fa-icon  [icon]="faMinus"></fa-icon></span>
                <span *ngIf="!iscliked4"><fa-icon [icon]="faPlus"></fa-icon></span>

                <span>Dubaî</span>
                <img src="../../../assets/img/visa&Assis/uae-flag.gif">
            </div>

            <div class="accordion-content assistance-visa">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident libero dolor dolorem quidem eos aut quibusdam aspernatur eum laborum, ipsa eius illo? Praesentium nisi dicta placeat doloremque blanditiis odio. Atque.
                Aliquam tenetur temporibus qui sit tempora non dicta ducimus, dolores iste id omnis, explicabo possimus. Natus dolores soluta ipsam, quasi quisquam corporis eaque mollitia libero suscipit itaque inventore esse sint.
                Cupiditate ipsa iure laudantium laborum atque pariatur, nesciunt eaque nemo laboriosam labore, amet expedita! Fuga eum voluptatem voluptatum! Commodi unde quas atque molestiae ratione itaque eveniet repudiandae eos ducimus hic?
                Sit iste corrupti iusto provident vel blanditiis, labore adipisci consequuntur voluptate illo ex quod saepe aspernatur, sed optio laborum quam rerum nostrum dicta! Enim et recusandae, est temporibus ipsa voluptate!
                Veniam debitis, at sint quam sequi, sunt expedita facilis blanditiis ad dolorum reiciendis laboriosam numquam voluptatibus illo illum? Facere ratione omnis est numquam assumenda. Ipsum possimus iure natus eius exercitationem?
            
            </div>

        </div>



        <div class="accordion">
            <div class="accordion-header" (click)="showHideAccordion(5)" (click)="onClicked5()">
                <span *ngIf="iscliked5"><fa-icon  [icon]="faMinus"></fa-icon></span>
                <span *ngIf="!iscliked5"><fa-icon [icon]="faPlus"></fa-icon></span>

                <span>Dubaî</span>
                <img src="../../../assets/img/visa&Assis/uae-flag.gif">
            </div>

            <div class="accordion-content assistance-visa">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident libero dolor dolorem quidem eos aut quibusdam aspernatur eum laborum, ipsa eius illo? Praesentium nisi dicta placeat doloremque blanditiis odio. Atque.
                Aliquam tenetur temporibus qui sit tempora non dicta ducimus, dolores iste id omnis, explicabo possimus. Natus dolores soluta ipsam, quasi quisquam corporis eaque mollitia libero suscipit itaque inventore esse sint.
                Cupiditate ipsa iure laudantium laborum atque pariatur, nesciunt eaque nemo laboriosam labore, amet expedita! Fuga eum voluptatem voluptatum! Commodi unde quas atque molestiae ratione itaque eveniet repudiandae eos ducimus hic?
                Sit iste corrupti iusto provident vel blanditiis, labore adipisci consequuntur voluptate illo ex quod saepe aspernatur, sed optio laborum quam rerum nostrum dicta! Enim et recusandae, est temporibus ipsa voluptate!
                Veniam debitis, at sint quam sequi, sunt expedita facilis blanditiis ad dolorum reiciendis laboriosam numquam voluptatibus illo illum? Facere ratione omnis est numquam assumenda. Ipsum possimus iure natus eius exercitationem?
            
            </div>

        </div>
    </div>

</div>
