$colorBlue: #115F98;
$fontColor: #525252;

.conteneur-perso{
    padding: 5em 7% 0 7%;
}
.visa{
    display: flex;
    flex-direction:column;
    width: 100%;

    .visa-top-bloc{

        background-image: url("../../../assets/img/dubai.jpeg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 65vh;

        .visa-top-title{
            position: absolute;
            top: 50%;
            left:50%;
            color: white;
            transform: translate(-50%,-50%);
        }
    }

    .visa-top-bloc::before{
        content: "";
        top: 0;
        left:0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(2,22,47,0.7133228291316527) 0%, rgba(0,0,0,0.23713235294117652) 25%, rgba(0,0,0,0.20632002801120453) 100%);
    }


    .accordions{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px 0 5em 0;

        .accordion{
            display: flex;
            flex-direction: column;
            width: 100%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 20px ;

            

            .accordion-header{
                display: flex;
                align-items: center;
                padding: 15px 25px;
                background-color: rgb(240, 240, 240);
                cursor: pointer;

                img{
                    border-radius: 2px;
                    width: 40px;
                    height: 25px;
                }

                span{
                    margin: 0 5px 0 10px;
                    font-weight: normal;
                }
            }

            .accordion-header:hover{
                background: #1160983d;
                color: $colorBlue;
                font-weight: 545;

                transition: all 0.3s ease-in;
            }

            .dubai{
                background: #1160983d;
                color: $colorBlue;

                font-weight: 545;
                font-size: 1.2em;

                fa-icon,span{
                    margin: 0 5px 0 10px;
                    font-weight: normal;
                }
            }

            .active-accordion-header{
                background: #1160983d;
                color: $colorBlue;

                font-weight: 545;
                font-size: 1.2em;

            }

            .accordion-content{
                padding: 20px;
                display: none;
            }

            .active-accordion{
                display: block;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}