$colorBlue: #115F98;
$fontColor: #525252;

.visa{

    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
    justify-content: center;

    .visa-top-bloc{

        background-image: url("../../../assets/img/dubai.jpeg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 65vh;

        .visa-top-title{
            position: absolute;
            top: 50%;
            left:50%;
            color: white;
            transform: translate(-50%,-50%);
        }
    }

    .visa-top-bloc::before{
        content: "";
        top: 0;
        left:0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(2,22,47,0.7133228291316527) 0%, rgba(0,0,0,0.23713235294117652) 25%, rgba(0,0,0,0.20632002801120453) 100%);
    }




    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 5em 0;
        min-height: 100vh;

        .intro{
            width: 100%;
            font-size: 1.15em;
            display: flex;
            flex-direction: column;
        }

        .visa-menu{

            display: flex;
            padding: 15px 0;
            margin: 3em 0 4em 0;
            overflow-x: scroll;
            width: 100%;

            button{
                border: 2px solid $colorBlue;
                color: $colorBlue;
                border-radius: 100px;
                margin-right: 14px ;
                background:none;
                padding: 5px 15px ;
                box-shadow: rgb(8, 23, 39) 0px 3px 3px -10px;
                font-size: 0.95em;
                width: fit-content;
                white-space: nowrap;

            }

            button:hover,
            .active-menu{
                color: white;
                background:$colorBlue;
            }
        }

        .accordion{

            display: flex;
            flex-direction: column;
            width: 100%;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            overflow: hidden;
            margin-bottom: 20px ;


            .accordion-header{
                display: flex;
                align-items: center;
                padding: 15px 25px;
                background-color: white;
                cursor: pointer;
                justify-content: space-between;
                width: 100%;
                
                .flag-country{
                    display: flex;
                    align-items: center;
                }

                img{
                    border-radius: 2px;
                    width: 40px;
                    height: 25px;
                }

                span{
                    margin: 0 5px 0 10px;
                    font-weight: normal;
                }
            }

            .accordion-header:hover,
            .active-accordion-header{
                background: #1160983d;
                color: $colorBlue;
                font-weight: 545;
                transition: all 0.3s ease-in;
            }


            .accordion-content{
                padding: 20px;
                display: none;


            }

            .active-accordion-content{
                display: flex;
                flex-direction: column;

                .images-bloc{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 40px;

                    p-image{
                        margin: 2.5px 2.5px;
                        border-radius: 5px ;
                        overflow: hidden;
                        flex: 2;
                    }

                    .images-middle{
                        display: flex;
                        flex-direction: column;
                        width: 25%;
                        object-fit: cover;
                        flex: 1;

                        p-image{
                            margin: 2.5px 2.5px;
                            border-radius: 5px ;
                            overflow: hidden;
                        }
                    }
                    .images-right{

                        display: flex;
                        flex-direction: column;
                        width: 25%;
                        object-fit: cover;
                        flex: 1;


                        p-image{
                            margin: 2.5px 2.5px;
                            border-radius: 5px ;
                            overflow: hidden;
                        }

                    }
                }

                .accordion-data{

                    display: flex;
                    flex-direction: column;

                    h5{
                        color: $colorBlue;
                        margin-bottom: 20px;
                    }

                    .general-advice{
                        margin: 10px 0;
                        font-style: italic;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }

                    .data-bloc{
                        display: flex;
                        flex-direction: column;
                        padding: 40px 20px;
                        border-radius: 5px;

                        ul{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            li{
                                width: 45%;
                            }
                        }

                        .particular-advice{
                            color: $colorBlue;
                            font-style: italic;
                            margin: 10px;
                        }

                        .indications{
                            margin:10px 0;
                        }

                        button{
                            border: 3px solid $colorBlue;
                            outline: none;
                            background-color: #115F98;
                            color: white;
                            border-radius: 100px;
                            padding: 5px 10px;
                            transition: all 0.3s ease-in;
                            width: fit-content;
                            margin: 0 auto;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            font-size: 0.95em;
                            font-weight: 400;
                            

                        }

                        button:hover{
                            background-color: white;
                            color: $colorBlue;
                        }
                    }

                    .data-bloc:nth-child(2n+1){
                        background-color: #ececec;
                    }
                }

                
            }
        }
    }
}