<div class="about">
    <div class="content my-container">
        <h1 class="title" >À PROPOS</h1>
        <div class="about-text-image">
            <div class="about-text">
                <span>Créée en 2009 dans un soucis de faire voyager différemment, Elites Voyages s'est donnée pour vocation de faire de nos clients, des Elites à travers un service à la carte selon les besoins ...</span>
                <span>Créée en 2009 dans un soucis de faire voyager différemment, Elites Voyages s'est donnée pour vocation de faire de nos clients, des Elites à travers un service à la carte selon les besoins ...</span>
                <div class="about-button">
                    <span routerLink="/about">En Savoir Plus</span>
                </div>
            </div>

            <div class="about-image">
                <div class="about-image-1"></div>
                <div class="about-image-2"></div>
            </div>
        </div>
    </div>
</div>