
$colorBlue: #115F98;
$colorGold: #EEC66C;
$fontColor: #525252;


.app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .hero{

        background-image: url("../../../assets/img/apartment/hero-bg.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 65vh;

        .hero-content{
   
            .title{
                position: absolute;
                top: 50%;
                left:50%;
                color: white;
                transform: translate(-50%,-50%);
                white-space: nowrap;
            }
        }
    }

    .hero::before{
        content: "";
        top: 0;
        left:0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(2,22,47,0.7133228291316527) 0%, rgba(0,0,0,0.23713235294117652) 25%, rgba(0,0,0,0.20632002801120453) 100%);
    }

/*
.hotel-appartement-tabs{

            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .hotel-appartement-headers{
                display: flex;
                justify-content: center;
                align-items: center;

                .tab-menu{
                    height: 60px;
                    width: fit-content;
                    padding: 0 15px;
                    cursor: pointer;
                    border-radius: 5px;
                    margin: 0 5px;
                    background-color: #d4e2e7;
                    color: #001f34;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    fa-icon{
                        font-size: 2em;
                        margin-right: 10px;
                    }

                    >span{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                }
                
                .active-tab-menu{
                    background-color: #0A0034;
                    color: white;
                    border-radius: 0;
                    padding: 35px 15px;


                }

            }

                .tabs-pages-conteneur{

                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .tab-page{
                        
                        width: 100%;
                        display: none;

                    }

                    .tab-page-hotel{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;


                        .hotel-filter-bloc{

                            width: 300px;
                            background-color: #ffffff;
                            border-radius: 5px;
                            display: flex;
                            flex-direction: column;
                            padding: 10px;

                            .search{
                                flex-direction: column;
                                    padding: 15px 0 10px 0;
                                    border-top: 2px solid rgb(180, 180, 180);

                                span{
                                    color: $colorBlue;
                                    font-weight: 540;
                                }
                                > div {
                                    display: flex;
                                    align-items: center;
                                    margin: 5px 0 0 0;
                                    width: fit-content;
                                    
                                    input{
                                    height: 17px;
                                    width: 17px;
                                    margin-right: 10px;
                                    border-radius: 50%;
                                    }
                                }

                 > div:hover {
                    font-weight: bold;
                    color: $colorBlue;
                }
                            }

                        }

                        .logement-pagination-bloc{

                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            height: 100vh;

                            .logement-hotel-bloc{

                                display: flex;
                                flex-direction: column;
                                
    
                                .logement-hotel{
                                    display: flex;
                                    align-items: flex-start;
                                    justify-content: center;
                                    margin: 10px 0;
                                    border-radius: 10px;
                                    overflow: hidden;
                                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;                            height: 200px;
                                    cursor: pointer;
                                    background-color: white;

                                    .item-image{
                                        position: relative;
        
                                        height: 100%;
                                        width: 220px;
        
                                        img{
                                            height: 100%;
                                            width: 100%;
                                        }
                                        
                                        span{
                                            position: absolute;
                                            left: 5%;
                                            bottom: 5%;
                                            color: white;
                                            font-weight: bold;
                                            z-index: 1;
                                        }
                                    }
        
                                    .item-image::after{
                                        position: absolute;
                                        content: "";
                                        top: 0;
                                        left:0;
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(22, 5, 172, 0.158);
                                    }
        
                                    .item-info{
                                        display: flex;
                                        justify-content: space-between;
                                        padding: 10px 20px;
                                        width: 530px;
                                        height: 100%;
        
                                        .item-summary{
        
                                            display: flex;
                                            flex-direction: column;
                                            width: 350px;
        
                                            span:nth-child(1){
                                                font-size: 1.5em;
                                                font-weight: 545;
                                            }
        
                                            span:nth-child(2){
                                                font-size: 0.9em;
        
                                                fa-icon{
                                                    margin-right: 3px;
                                                }
                                            }
        
                                            ngb-rating {
                                                color: $colorGold;
                                            }
        
                                            span:nth-child(4){
                                                margin-top: 10px;
                                                font-size: 0.9em;
                                            }
                                        }
        
                                        .item-detail{
        
                                            display: flex;
                                            flex-direction: column;
                                            width: 180px;
                                            justify-content: space-between;
                                            align-items: center;
        
                                            .options-top{
        
                                                display: flex;
                                                flex-direction: column;
                                                width: 100%;
        
                                                span:nth-child(1){
                                                    font-size: 0.8em;
                                                }
        
                                                span:nth-child(2){
                                                    font-size: 1.3em;
                                                    font-weight: bold;

                                                    span{
                                                        font-weight: normal;
                                                    }
                                                }
                                            }
        
                                            .options-middle{
                                                height: 5.3em;
                                                overflow-y: scroll;
                                                background:#11609818;
                                                border-radius: 5px;
                                                padding: 5px 12px;
                                                width: 100%;
        
                                                .options{
                                                    display: flex;
                                                    flex-direction: column;
        
                                                    span{
                                                        font-size: 0.8em;
            
                                                        fa-icon{
                                                            margin-right: 5px;
                                                        }
                                                    }
                                                }
                                            }
        
                                            .options-bottom{
                                                background-color: $colorBlue;
                                                color: white;
                                                border-radius: 5px;
                                                text-align: center;
                                                padding: 2px 10px;
                                                width: fit-content;
                                                transform: all 3s ease-in;
                                                cursor: pointer;
                                                width: 100%;
        
                                            }
        
                                            .options-bottom:hover{
        
                                                border: 2px solid $colorBlue;
                                                padding: 0 10px;
                                                background: none;
                                                color: $colorBlue;
                                                font-weight: bold;
                                                
                                            }
                                            
                                        }
                                    }
                                }

                                .logement-hotel:hover{

                                    box-shadow: $colorBlue 0px 0px 15px;

                                }

                            }

                        }

                    }

                    .tab-page-appart{

                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .logement-pagination-bloc{

                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .logement-appart-bloc{

                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                align-items: flex-start;
                                width: 100%;

                                .logement-appart{

                                    background: white;
                                    width: 250px;
                                    margin: 10px;
                                    border-radius: 10px;
                                    overflow: hidden;
                                    box-shadow: rgba(61, 61, 61, 0.555) 0px 2px 8px 0px;
                                    cursor: pointer;


                                    .item-image{

                                        width:100%;
                                        height: 200px;
                                        position: relative;

                                        img{
                                            height: 100%;
                                            width:100%;
                                        }

                                        span{
                                            position: absolute;
                                            left: 5%;
                                            bottom: 5%;
                                            color: white;
                                            font-weight: bold;
                                            z-index: 1;
                                            position: absolute;
                                        }
                                    
                                    }

                                    .item-image::after{
                                        position: absolute;
                                        content: "";
                                        top: 0;
                                        left:0;
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(22, 5, 172, 0.158);
                                    }

                                    .item-info{

                                        display: flex;
                                        flex-direction: column;
                                        padding: 10px;

                                        .item-summary{

                                            display: flex;
                                            flex-direction: column;
                                            font-size: 0.9em;

                                            .item-name{

                                                font-size: 1.5em;
                                                font-weight: 545;

                                            }

                                            .item-type{

                                                margin: 5px 0;

                                                span:nth-child(1){

                                                    margin-right: 5px;

                                                }

                                                span:nth-child(2){

                                                    font-size: 0.85em;

                                                }

                                            }

                                        }


                                        .options-top{

                                            display: flex;
                                            flex-direction: column;
                                            width: 100%;
                                            margin: 10px 0;
    
                                            span:nth-child(1){

                                                font-size: 0.8em;
                                                
                                            }
    
                                            span:nth-child(2){

                                                font-size: 1.1em;
                                                font-weight: bold;

                                                span{

                                                    font-weight: normal;

                                                }

                                            }

                                        }

                                        .options-bottom{

                                            background-color: $colorBlue;
                                            color: white;
                                            border-radius: 5px;
                                            text-align: center;
                                            width: fit-content;
                                            transform: all 3s ease-in;
                                            cursor: pointer;
                                            font-size: 0.9em;
                                            margin: 0 auto;
                                            width: 100%;
                                            padding: 2px 0;
                                        }
    
                                        .options-bottom:hover{
    
                                            border: 2px solid $colorBlue;
                                            background: none;
                                            color: $colorBlue;
                                            font-weight: bold;
                                            padding:0;
                                        }

                                    }

                                }

                                .logement-appart:hover{
                                    box-shadow: $colorBlue 0px 0px 15px;

                                }

                            }
                            
                        }
                    
                    }

                    .active-tab-page{
                        display: flex;
                        padding: 20px;
                        background-color: #f5f5f5;
                        border-radius: 5px;
                    }

                }
            
        }
*/
       

    .content{
            
        padding-top: 5em;
        padding-bottom: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .red-star{
            color: red;
            font-size: 1.1em;
            font-weight: bold;
        }

        .intro{

            display: flex;
            flex-direction: column;

            h2{
                color: $colorBlue;
                margin-bottom: 30px;
            }


            .form-invit{
                font-size: 1.1em;
                font-weight: 535;
            }

            .form-advices{
                margin: 10px 0 30px 0;        
            }
        }

        form{
            width: 800px;
            height: fit-content;
            padding: 60px ;
            background-color: #11609841;
            border-radius: 5px;
            margin-top: 40px;
            display: flex;
            flex-direction: column;

            .gender-names{
                display: flex;
                justify-content: space-between;
                
                .gender{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border: 1px solid $colorBlue;
                    padding: 5px;
                    border-radius: 5px;
                    width: 100px;
                    height: 57px;
                    margin-top: 15px;


                    .label{
                        font-size: 0.85em;
                        color: $colorBlue;
                        padding-left: 5px;

                    }

                     select{
                        border: none;
                        outline: none;
                        background-color: unset;
                        
                    }
                }

                .firstname, .lastname{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border: 1px solid $colorBlue;
                    padding: 5px;
                    border-radius: 5px;
                    margin-top: 15px;
                    position: relative;
                    height: 57px;
                    width: 280px;

                    .label{
                        font-size: 0.85em;
                        color: $colorBlue;
                        padding-left: 5px;

                    }

                     input{
                        border: none;
                        outline: none;
                        background-color: unset;
                        position: absolute;
                        position: absolute;
                        bottom: 0;
                        padding-left: 4px;
                        width: 100%;
                        padding-top: 25px;
                        height: 100%;
                    }
                }
            }

            .email-phone{

                display: flex;
                justify-content: space-between;

                .email, .phone{
                    width: 280px;
                    height: 57px;
                    margin-top: 15px;
                    background-color: white;
                    border: 1px solid $colorBlue;
                    padding: 5px;
                    border-radius: 5px;
                    position: relative;

                    .label{
                        font-size: 0.85em;
                        color: $colorBlue;
                        padding-left: 5px;

                    }

                     input{
                        border: none;
                        outline: none;
                        background-color: unset;
                        position: absolute;
                        position: absolute;
                        bottom: 0;
                        padding-left: 4px;
                        width: 100%;
                        padding-top: 25px;
                        height: 100%;
                    }
                }
            }

            .room-town-date{

                display: flex;
                justify-content: space-between;

                .room{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border: 1px solid $colorBlue;
                    padding: 5px;
                    border-radius: 5px;
                    width: 130px;
                    height: 57px;
                    margin-top: 15px;


                    .label{
                        font-size: 0.85em;
                        color: $colorBlue;
                        padding-left: 5px;

                    }

                     select{
                        border: none;
                        outline: none;
                        background-color: unset;
                        
                    }
                }

                .town{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border: 1px solid $colorBlue;
                    padding: 5px;
                    border-radius: 5px;
                    margin-top: 15px;
                    width: 200px;
                    height: 57px;
                    position: relative;
                    overflow: hidden;


                    .label{
                        font-size: 0.85em;
                        color: $colorBlue;
                        padding-left: 5px;
                        z-index: 5;
                    }

                    input{
                        border: none;
                        outline: none;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding-left: 4px;
                        font-size: 0.95em;
                        width: 100%;
                        padding-top: 25px;
                        padding-left: 10px;
                        height: 100%;
                    }
                }


                    .date{

                            position: relative;
                            height: 100%;
                            height: 57px;
                            width: 130px;
                            background-color: white;
                            border: 1px solid $colorBlue;
                            padding: 5px;
                            border-radius: 5px;
                            margin-top: 15px;

                            .label{
                                font-size: 0.85em;
                                color: $colorBlue;
                                padding-left: 5px;
        
                            }

                            p-calendar{
                                border: none;
                                height: 47px;
                                width: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;

                                .p-calendar{

                                    .p-inputtext {
                                        background: none;
                                        padding-top: 29px;
                                        font-size: 0.92em;
                                        padding-left: 10px;
                                        border: none;
                                        box-shadow: none;
                                    }

                                    .p-datepicker{
                                        left: -6px !important;
                                        top: -415px !important;
                                    }
                                }
                            }
                        }
                
            }

            .extras-bloc{

                display: flex;
                flex-direction:column;
                margin-top: 15px;
                margin-bottom: 20px;
                

                span{
                    color: $colorBlue;
                    font-weight: 540;
                }

                        .extras{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-between;                                
                            margin-top: 20px;
                            padding: 0 10px;

                            .extra{

                                display: flex;
                                align-items: center;
                                margin-top: 5px;

                                input{
                                    height: 17px;
                                    width: 17px;
                                    background-color: white;
                                    border-radius: 50%;
                                    vertical-align: middle;
                                    appearance: none;
                                    -webkit-appearance: none;
                                    outline: none;
                                    cursor: pointer;
                                    border: 2px solid white;
                
                                }
                
                                input:checked {
                                    background-color: red;
                                }
                
                                label{
                                    margin-left: 7px;
                                    font-size: 0.8em;
                                    cursor: pointer;
                                    white-space: nowrap;
                                    width: 122px;
                                }
                
                                label:hover{
                                    font-weight: bold;
                
                                }
                            
                        }

                            
            
                            
                        }

                  
                
            }

            .hotels{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border: 1px solid $colorBlue;
                    padding: 5px;
                    border-radius: 5px;
                    margin-top: 15px;
                    position: relative;
                    height: 57px;
                    width: 100%;

                    .label{
                        font-size: 0.85em;
                        color: $colorBlue;
                        padding-left: 5px;

                    }

                     input{
                        border: none;
                        outline: none;
                        background-color: unset;
                        position: absolute;
                        position: absolute;
                        bottom: 0;
                        padding-left: 4px;
                        width: 100%;
                        padding-top: 25px;
                        height: 100%;
                    
                }
            }

            button{
                outline: none;
                border: none;
                border-radius: 100px;
                padding: 5px 20px;
                background-color: $fontColor;
                color: white;
                width: fit-content;
                font-size: 1.1em;
                transition: all 0.3s ease-in-out;
                margin: auto;
                margin-top: 40px;
            }

            button:hover{
                background-color: $colorBlue;
            }
        }

        .procedure{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 60px;

            .process-bloc{
                display: flex;
                justify-content: space-between;
                width: 100%;
                flex-wrap: wrap;
                margin: 40px;


                .process{
                    display: flex;
                    flex-direction: column;
                    margin: 10px 10px;
                    width: 250px;

                    span:nth-child(1){
                        text-align: center;
                        padding: 2px 10px;
                        color: $colorBlue;
                        border-radius: 50%;
                        background-color: #11609827;
                        width: fit-content;
                        font-size: 1.1em;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}