<div class="visas-bloc">

    <div class="content my-container">

        <h1 class="title" >ASSISTANCE VISAS</h1>
        <div class="visas">

            <div class="visas-content-bloc">
                    
                <div class="visas-text">
                    <p> Nous accompagnons nos clients dans le processus d’obtention de leur visa pour les Ambassades/Consulats qui acceptent l’intervention d’un tiers.</p>
                    <p>Nous accompagnons également les clients qui viennent des pays qui n’ont pas une représentation diplomatique au Cameroun dans le processus d’application pour un visa entrée au Cameroun.</p>
                    <span class="visas-button" routerLink="/visa-dubaî">En savoir plus</span>
                </div>

                <img class="visa-image" src="../../../assets/img/home/visas/globe-countries.png" alt="Round globe with countries flag">
            </div>

        </div>
    </div>
    
</div>