<div class="air-purifier">
    <div class="hero">
        <h1 class="title">Purificateurs d'Air</h1>
    </div>

    <div class="content my-container">

        <p-breadcrumb styleClass="breadcrumb" [model]="items"></p-breadcrumb>
        
        <div class="header">


            <div class="texts">
                <h2>RESPIREZ DE L'AIR PUR AVEC LES PURIFICATEURS D'AIR</h2>
                <span>Les purificateurs d'air distribués par la société Ibcom sarl distributeur exclusif en Afrique centrale, Capture et détruit tous les virus circulant dans l'air et aussi ceux du covid-19 et tous ses variants, les bactéries, les allergènes, microbes etc... Dispositifs médicaux approuvés fDa. Efficacités scientifiquement prouvées par les plus grands laboratoires au monde. Technologie Brevetée, filtre Hepa13, approuvé par la Nasa + lumière Uvc.</span>
                <span class="announce-produc">Découvrez ci-après quelques-uns de nos produits les plus demandés .</span>

            </div>

        </div>


        <div class="products">
            
            <div class="product">
                <img src="../../../assets/img/air-purifier/rensair.png" alt="">
                <span class="name">Rensair</span>
                <span class="price">{{2950000 | number}} XAF</span>
                <span></span>
            </div>

            <div class="product">
                <img src="../../../assets/img/air-purifier/airvia.png" alt="">
                <span class="name">Airvia Aero 100</span>
                <span class="price">{{1377000 | number}} XAF</span>
            </div>

            <div class="product">
                <img class="purity-image" src="../../../assets/img/air-purifier/puritii.png" alt="">
                <span class="name">Puritii 2.0</span>
                <span class="price">{{2788000 | number}} XAF</span>
            </div>

            <div class="product">
                <img class="airvia-pro" src="../../../assets/img/air-purifier/airvia-pro.png" alt="">
                <span class="name">Airvia Pro 150</span>
                <span class="price">{{1660000 | number}} XAF</span>
            </div>

            <div class="product-mini">
                <img src="../../../assets/img/air-purifier/airvia-car.png" alt="">
                <span class="name">Airvia Car</span>
                <span class="price">{{165000 | number}} XAF</span>
            </div>

            <div class="product-mini">
                <img src="../../../assets/img/air-purifier/car.png" alt="">
                <span class="name">A&S 20</span>
                <span class="price">{{165000 | number}} XAF</span>
            </div>

        </div>

        <a href="https://www.ibcomsarl.com/" aria-label="ibcomsarl" rel="noopener" target="_blank">En savoir plus</a>
    </div>
</div>