<div class="spotlighted-deal">
    <div class="content my-container">
        <h1 class="title">ACTUELLEMENT À LA UNE</h1>
        <div class="deals">

            <ng-template ngFor let-tour [ngForOf]="topSpotlightedList">

                <div class="deal" routerLink="/tourisme/{{tour.link}}">
                    <div class="img-bloc">
                        <img src={{tour.image}}>
                        <span class="tag" *ngIf="tour.tag.icon == 'faUsers'">
                            <fa-icon [icon]="faUsers" [ngStyle]="{'color': tour.tag.color}"></fa-icon>
                            Places limitées
                        </span>
                        <span class="tag" *ngIf="tour.tag.icon == 'faHeart'">
                            <fa-icon [icon]="faHeart" [ngStyle]="{'color': tour.tag.color}"></fa-icon>
                            Idéal pour couple
                        </span>
                    </div>
                    <span class="sub-title">{{tour.title}}</span>
                    <div class="price-bloc">
                        <span class="label">à partir de</span>
                        <span class="price">{{ tour.price | currency:currentCurrency?.convertRate | number}} {{currentCurrency?.symbol}} / {{tour.formula}}</span>
                    </div>
                </div>

            </ng-template>
        </div>
    </div>
</div>
