<div class="vol">


    <div class="contact-header">
        <div class="content-header my-container">
    
          <h1 class="vol-title">Billet d'Avion</h1>
        </div>
    </div>

    <div class="content my-container">

        <div class="book-flight-form">

            <div class="infos">

                <span>Indiquez-nous vos paramètres de voyage et nous reviendrons vers vous rapidement</span>
                <span>Les champs marqués d'un <span class="red-star">*</span> sont obligatoires</span>
            
            </div>

            <form [formGroup]="bookingForm" (ngSubmit)="onBookingFormSubmit()">

                <div class="trajet-classe">

                    <div class="trajet">
                        <div class="label">
                            <span>Type de trajet </span>
                            <span class="red-star">*</span>
                        </div>                        
                        <select class="custom-select" (change)="changeTypeVoyage($event)" formControlName="typeTrajet">
                            <option *ngFor="let trajet of trajets" [ngValue]="trajet">{{trajet}}</option>
                        </select>
                    </div>

                    <div class="classe">
                        <div class="label">
                            <span>Type de trajet </span>
                            <span class="red-star">*</span>
                        </div>                           
                        <select class="custom-select" (change)="changeTypeCabine($event)" formControlName="typeCabine">
                            <option *ngFor="let cabine of cabines" [ngValue]="cabine">{{cabine}}</option>
                        </select>
                    </div>
                </div>

                <div class="info-bloc">

                    <div class="info">

                        <div class="label">
                            <span>Départ </span>
                            <span class="red-star">*</span>
                        </div>

                        <div class="value">
                            <fa-icon [icon]="faPlaneDeparture"></fa-icon>
                            <input class="input-text" id="depart-input" type="text" placeholder="Ville départ">
                        </div>

                    </div>

                    <div class="info">
                        <div class="label">
                            <span>Arrivée </span>
                            <span class="red-star">*</span>
                        </div>

                        <div class="value">
                            <fa-icon [icon]="faPlaneArrival"></fa-icon>
                            <input class="input-text" id="depart-input" type="text" placeholder="Ville d'arrivée">
                        </div>
                    </div>

                    <div class="info">
                        <div class="label">
                            <span>Date allée </span>
                            <span class="red-star">*</span>
                        </div>

                        <div class="value">
                            <fa-icon [icon]="faCalendarDay"></fa-icon>
                            <p-calendar dateFormat="dd-mm-yy" inputId="dateformat" placeholder="dd-mm-yy"></p-calendar>
                        </div>
                    </div>

                    <div class="info">
                        <div class="label">
                            <span>Date retour </span>
                            <span class="red-star">*</span>
                        </div>

                        <div class="value">
                            <fa-icon [icon]="faCalendarDay"></fa-icon>
                            <p-calendar dateFormat="dd-mm-yy" inputId="dateformat" placeholder="dd-mm-yy"></p-calendar>                        
                        </div>
                    </div>

                    <div class="info passenger" (mouseover)="onEditPassenger()" (mouseout)="onEditPassenger()">
                        <div class="label">
                            <span>Voyageur(s) </span>
                            <span class="red-star">*</span>
                        </div>

                        <div class="value" >
                            <fa-icon id="clickPassenger" [icon]="faPlusCircle" ></fa-icon>
                            <span class="span-text">0{{nombrePassagerTotal}} </span>
                            
                            <div class="datas-edit">
                                <div class="passenger-info">
                                    <div class="controls">
                                        <fa-icon class="minus" [icon]="faMinusCircle" (click)="onEditAdultPassenger(-1)"></fa-icon>
                                        <span> {{nombrePassagerAdulte}} </span>
                                        <fa-icon class="plus" [icon]="faPlusCircle" (click)="onEditAdultPassenger(1)"></fa-icon>
                                        
                                    </div>
                                    <span> Adulte ( > 12 ans )</span>
                                </div>
    
                                <div class="passenger-info">
                                    <div class="controls">
                                        <fa-icon class="minus" [icon]="faMinusCircle" (click)="onEditChildPassenger(-1)"></fa-icon>
                                        <span> {{nombrePassagerEnfant}} </span>
                                        <fa-icon class="plus" [icon]="faPlusCircle" (click)="onEditChildPassenger(1)"></fa-icon>
                                        
                                    </div>
                                    <span> Enfant ( 2 - 11 ans )</span>
                                </div>
    
                                <div class="passenger-info">
                                    <div class="controls">
                                        <fa-icon class="minus" [icon]="faMinusCircle" (click)="onEditBabyPassenger(-1)"></fa-icon>
                                        <span> {{nombrePassagerBebe}} </span>
                                        <fa-icon class="plus" [icon]="faPlusCircle" (click)="onEditBabyPassenger(1)"></fa-icon>
                                        
                                    </div>

                                    <span> Bébé ( 0 - 23 mois )</span>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                    
                    <div class="info">

                        <div class="label">
                            <span>Nom expéditeur </span>
                            <span class="red-star">*</span>
                        </div>

                        <div class="value">
                            <fa-icon [icon]="faUser"></fa-icon>
                            <input class="input-text" id="depart-input" type="text" placeholder="Nom de l'expéditeur">
                        </div>
                    </div>

                    <div class="info">

                        <div class="label">
                            <span>Email </span>
                            <span class="red-star">*</span>
                        </div>

                        <div class="value">
                            <fa-icon [icon]="faEnvelope"></fa-icon>
                            <input class="input-text" id="depart-input" type="text" placeholder="Adresse mail">
                        </div>
                    </div>

                    <div class="info">

                        <div class="label">
                            <span>Téléphone </span>
                        </div>

                        <div class="value">
                            <fa-icon [icon]="faPhoneAlt"></fa-icon>
                            <input class="input-text" id="depart-input" type="text" placeholder="Numéro de téléphone">
                        </div>
                    </div>


                </div>

                <div class="message">
                    <textarea id="message-area" type="text" placeholder="Si besoin entrez votre message ici, soyez le plus explicite possible. "></textarea>
                </div>
              
                <button type="submit" [disabled]="!flightForm.valid">Envoyer <fa-icon [icon]="faPaperPlane"></fa-icon></button>
                
            </form>
        </div>

        <div class="procedure">
            <h1>Comment ça marche ?</h1>

            <div class="process-bloc">
                <div class="process">
                    <span>1</span>
                    <span>Renseignez et envoyez-nous le formulaire ci-dessous</span>
                </div>


                <div class="process">
                    <span>2</span>
                    <span>Nous revenons vers vous en vous indiquant les prix et possibilités qui s'offrent à vous</span>
                </div>

                <div class="process">
                    <span>3</span>
                    <span>Vous nous indiquez votre choix parmis ceux proposés</span>
                </div>

                <div class="process">
                    <span>4</span>
                    <span>Vous decidez de :</span>
                    <ul>
                        <li>Soit acheter le billet directement</li>
                        <li>Soit effectuer une réservation pour un paiement ultéieur, ce qui vous assure de conserver le prix indiqué</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>