<div class="not-found">

    <div class="hero">
        <div class="hero-content my-container">
            <h1 class="title">Page Introuvable</h1>
        </div>
    </div>
    <div class="content my-container">

        <img src="../../../assets/img/not-found/le-petit-homme.png" alt="Un petit bonhone qui se pose une question">
        <span>Oups, il semble que le contenu que vous cherchez est introuvable ou indisponible.</span>
        <span></span>
        <button routerLink="/accueil">Revenir à l'accueil</button>
    </div>
</div>
