<div class="tourisme">

    <div class="hero">
        <h1 class="title">NOS DESTINATIONS TOURISTIQUES</h1>
    </div>

    <div class="content my-container">

        <div class="intro">
            <span>
                Envie de vous évader ? Confiez-nous vos projets et nous nous occupons du reste
            </span>
        </div>

        <div class="packages">

            <ng-template ngFor let-package [ngForOf]="allSummaryTours">

                <div class="package" *ngIf="package">
                    
                    <img src={{package.image}}>

                    <div class="left">

                        <div class="top">
                            <h4 class="title">{{package.title}}</h4>
                            <h6 class="country">{{package.country}}</h6>
                            <span class="description">{{package.description}}</span>
            
                        </div>
                        
                        <div class="tags">

                            <ng-template ngFor let-tag [ngForOf]="package.tags">

                                <div class="tag" *ngIf="tag.icon == 'faPassport'">
                                    <span class="icon">
                                        <fa-icon [icon]= faPassport></fa-icon>
                                    </span>
                                    <span>{{tag.label}}</span>
                                </div>

                                <div class="tag" *ngIf="tag.icon == 'faPlaneDeparture'">
                                    <span class="icon">
                                        <fa-icon [icon]= faPlaneDeparture></fa-icon>
                                    </span>
                                    <span>{{tag.label}}</span>
                                </div>

                                <div class="tag" *ngIf="tag.icon == 'faMapMarkerAlt'">
                                    <span class="icon">
                                        <fa-icon [icon]= faMapMarkerAlt></fa-icon>
                                    </span>
                                    <span>{{tag.label}}</span>
                                </div>

                                <div class="tag" *ngIf="tag.icon == 'faBed'">
                                    <span class="icon">
                                        <fa-icon [icon]= faBed></fa-icon>
                                    </span>
                                    <span>{{tag.label}}</span>
                                </div>

                                <div class="tag" *ngIf="tag.icon == 'faShuttleVan'">
                                    <span class="icon">
                                        <fa-icon [icon]= faShuttleVan></fa-icon>
                                    </span>
                                    <span>{{tag.label}}</span>
                                </div>

                                <div class="tag" *ngIf="tag.icon == 'faMugHot'">
                                    <span class="icon">
                                        <fa-icon [icon]= faMugHot></fa-icon>
                                    </span>
                                    <span>{{tag.label}}</span>
                                </div>

                            </ng-template>

                        </div>
        
                    </div>

                    <div class="right">
                        <div class="price-bloc">
                            <span class="text">à partir de</span>
                            <span class="price"> {{package.price | currency:currentCurrency?.convertRate | number}} {{currentCurrency?.symbol}}</span>
                            <span class="text"> par personne</span>
                        </div>

                        <button (click)="redirectRoute(package?.id)"> Voir l'offre</button>
                    </div>

                </div>
            </ng-template>

        </div>

    </div>

</div>