<div class="cars-bloc">

    <div class="content my-container">
        <h1 class="title">NOS VOITURES</h1>

        <div class="intro">
            <div class="image"></div>
            <div class="text">
                <span> Nous mettons à votre disposition un large choix de véhicules pour tous vos besoins.</span>
                <button routerLink="/rent-car">Réservez maintenant</button>
            </div>
        </div>

        <p-carousel [value]="popularCars" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1" [circular]="true" [responsiveOptions]="carsResponsiveOptions" >
            
            <ng-template let-car pTemplate="item">
                <div class="car-item">
                    <div class="car-item-content">
                        <div class="car-item-contener">
                            <div class="car-item-bloc-image-text">
                                <img class="car-item-image" src="{{car.imageVoit}}">
                                <span class="car-item-text"> {{car.villeVoit}} </span>
                            </div>

                            <div class="car-item-text">
                                    
                                <span class="car-item-name"> {{car.nomVoit}}</span>
                                
                                <div class="car-item-tools">
                                    
                                    <div>
                                        <span>Portes</span>
                                        <span> {{car.nombrePorteVoit}}</span>
                                    </div>


                                    <div>
                                        <span>Climatisée</span>
                                        <span>{{car.climVoit}}</span>
                                    </div>

                                    <div>
                                        <span>Places</span>
                                        <span>{{car.nombrePlaceVoit}}</span>
                                    </div>

                                    

                                </div>

                                <div class="car-item-prices">
                                    <div>
                                        <span>Dans la ville</span>
                                        <span> {{car.prixLocationDansVilleVoit}} XAF</span>
                                    </div>
                                    <div>
                                        <span>Hors de la ville</span>
                                        <span> {{car.prixLocationHorsVilleVoit}} XAF</span>
                                    </div>
                                    <div>
                                        <span>Trajet Aéroport</span>
                                        <span> {{car.prixTrajetAeroportVoit}} XAF</span>
                                    </div>
                                </div>

                                <div class="car-item-driver">
                                    <div>
                                        <span>Avec chauffeur</span>
                                        <span> {{car.avecChauffeurVoit}} </span>
                                    </div>
                                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                                    <div>
                                        <span>Sans chauffeur</span>
                                        <span> {{car.sansChauffeurVoit}} </span>
                                    </div>
                                </div>

                            <!--   
                                <span class="reserver">Réserver</span> 
                            --> 


                            </div>
                        </div>  
                    </div>
                </div>
            </ng-template>
        </p-carousel>

        <div class="car-call-to-action">
        </div>
    </div>
</div>