
    <div class="hotel-appaterment-bloc">

        
        <div class="content my-container">

            <div class="hotel">
                <div class="text">
                    <h1 class="title">HÔTELS</h1>
 
                    <p>Nous garantissons les meilleurs hôtels et des chambres très confortables, appréciées par tous les voyageurs. Qu'elle soit simple, double, familiale ou une suite, chaque chambre que nous vous proposons s'enrichit d'un petit plus qui lui est propore.</p>
                    <button routerLink="/hotels">Voir Hôtels</button>
                </div>
                <div class="hotel-image">
                    
                </div>
            </div>

            <div class="appartement">
            
                <div class="appartement-image">
                    
                </div>
            
                <div class="text">
                    <h1 class="title">APPARTEMENTS MEUBLÉS</h1>

                    <p>Parmis le large choix que nous vous proposons, trouvez un deuxième chez vous en choisissant l'appartement qui vous plait le plus. Vous y passerez certainement de meilleurs moments.</p>
                    <button routerLink="/appartements-meubles">Voir Appartements</button>
                </div>
            </div>
        </div>

    </div>