
    <div class="hotel-appaterment-bloc">

        
        <div class="content my-container">

            <div class="hotel-bloc">
                <div class="hotel-bloc-text">
                    <span class="hotel-title">
                        <fa-icon [icon]="faBed"></fa-icon>
                        <h1>Hôtels</h1>
                    </span> 
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat illo quis aliquid, corrupti vero cupiditate! Perspiciatis, laudantium? Illum earum animi, libero et expedita sunt error blanditiis.</p>
                    <span class="hotel-call-to-action" (click)="routeToHotelAppartement('hotel')">Voir Hôtels</span>
                </div>
                <div class="hotel-image">
                    
                </div>
            </div>

            <div class="appartement-bloc">
            
                <div class="appartement-image">
                    
                </div>
            
                <div class="appartement-bloc-text">
                    <span class="appartement-title">
                        <fa-icon [icon]="faHome"></fa-icon>
                        <h1>Appartements Meublés</h1>
                    </span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat illo quis aliquid, corrupti vero cupiditate! Perspiciatis, laudantium? Illum earum animi, libero et expedita sunt error blanditiis.</p>
                    <span class="appartement-call-to-action" (click)="routeToHotelAppartement('appartement')">Voir Appartements</span>
                </div>
            </div>
        </div>

    </div>