$colorBlue: #115F98;
$fontColor: #525252;

    .hotel-appaterment-bloc{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .content{
            display: flex;
            flex-direction: column;
            margin-top: 100px;

            .hotel, .appartement{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center; 
                margin: 40px 0; 
            
                .text{

                    display: flex;
                    width: 50%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .title{
                        color: $colorBlue;
                        position: relative;
                        text-align: center;
                    }
            
                    .title::after{
                        content: "";
                        position: absolute;
                        width: 100px;
                        height: 5px;
                        bottom: -15px;
                        border-radius: 100px;
                        background-color: $colorBlue;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    
                    p{
                        margin-top: 50px;
                    }
    
                    button{
                        font-size: 1.1em;
                        margin-top: 10px;
                        padding: 3px 20px;
                        width: fit-content;
                        color: white;
                        border-radius:100px;
                        background-color: $colorBlue;
                        border: solid $colorBlue;
                        cursor: pointer;
                        transition: all 0.3s ease-in;
                    }
    
                    button:hover{
                        color: $colorBlue;
                        font-weight: bold;
                        background-color: white;
                    }
                }

                .hotel-image{
                    background-image: url("../../../assets/img/home/hotel-app/home-hotel.jpg");
                    background-repeat: no-repeat ;
                    background-size: cover;
                    background-position: center;
                    width: 28em;
                    height: 25em;
                    border-radius: 5px;
                    box-shadow: rgba(0, 0, 0, 0.849) 0px 5px 15px;
                    cursor: pointer;
                    margin-left: 50px;
                }
        
                .appartement-image{
                    background-image: url("../../../assets/img/home/hotel-app/home-appartement.jpg");
                    background-repeat: no-repeat ;
                    background-size: cover;
                    background-position: center;
                    width: 28em;
                    height: 25em;
                    border-radius: 5px;
                    box-shadow: rgba(0, 0, 0, 0.849) 0px 5px 15px;
                    cursor: pointer;
                    margin-right: 50px;

                }
        
                .hotel-image:hover,.appartement-image:hover{
                    box-shadow: $colorBlue 0px 5px 15px;
                }

                
            }
        }
    }


    @media all and (max-width: 1140px){

        .hotel-appaterment-bloc{

            .content{
    
                margin-top: 85px;

                .hotel, .appartement{
                    
                    margin: 70px 0; 

                    .hotel-image,
                    .appartement-image {

                        width: 20em;
                        height: 17em;
                    }
                }

                .appartement{
                    
                    .text{
                        display: flex;
                        width: 50%;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding-left: 30px;
                    }
                }
    
                
            }
        }

    }

    @media all and (max-width: 750px){

        .hotel-appaterment-bloc{

            .content{
    
                .hotel{
                    flex-direction: column-reverse;
                    margin: 0 0 30px 0; 

                    .text{
                        width: 100%;
                        padding: 0;
                        text-align: justify;
                        margin: 40px 0 0 0;

                    }

                    .hotel-image{
    
                        width: 250px;
                        height: 200px;
                        margin: 0;

                    }

                }

                .appartement{
                    flex-direction: column;

                    margin: 80px 0 30px 0; 
    
                    .text{
                        width: 100%;
                        padding: 0;
                        text-align: justify;
                        margin: 40px 0 0 0;

                    }

                    .appartement-image {
    
                        width: 250px;
                        height: 200px;
                        margin: 0;
                    }
                }

                
    

            }
        }

    }