
    <div class="hotel-appaterment-bloc">

        
        <div class="content my-container">

            <div class="hotel">
                <div class="text">
                    <h1 class="title">HÔTELS</h1>
 
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat illo quis aliquid, corrupti vero cupiditate! Perspiciatis, laudantium? Illum earum animi, libero et expedita sunt error blanditiis.</p>
                    <button routerLink="/hotels">Voir Hôtels</button>
                </div>
                <div class="hotel-image">
                    
                </div>
            </div>

            <div class="appartement">
            
                <div class="appartement-image">
                    
                </div>
            
                <div class="text">
                    <h1 class="title">APPARTEMENTS MEUBLÉS</h1>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat illo quis aliquid, corrupti vero cupiditate! Perspiciatis, laudantium? Illum earum animi, libero et expedita sunt error blanditiis.</p>
                    <button routerLink="/appartements-meubles">Voir Appartements</button>
                </div>
            </div>
        </div>

    </div>