<div class="car">

    <div class="hero">
        <div class="hero-content my-container">
            <h1 class="title">LOCATION DE VOITURE</h1>
        </div>
    </div>

    <div class="car-content my-container">

<!-- filtre

        <div class="filter">
            <div class="fourchette">
                <span>Fourchette de prix </span>
                <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
            </div>

            <div class="ville">
                <span>Villes </span>
                    
                    <div>
                        <input type="checkbox" id="yaounde" name="yaounde">
                        <label for="yaounde">Yaoundé</label>
                    </div>

                    <div>
                        <input type="checkbox" id="douala" name="douala">
                        <label for="douala">Douala</label>
                    </div>
            </div>

            <div class="chauffeur">
                <span>Chauffeur </span>
                    
                    <div>
                        <input type="checkbox" id="avec-chauffeur" name="avec-chauffeur">
                        <label for="avec-chauffeur">Avec chauffeur</label>
                    </div>

                    <div>
                        <input type="checkbox" id="sans-chauffeur" name="avec-chauffeur">
                        <label for="sans-chauffeur">Sans chauffeur</label>
                    </div>
            </div>

            <div class="couleur">
                <span>Couleur(s) </span>
                <div>
                    <input type="checkbox" id="noir" name="noir">
                    <label for="noir">Noir</label>
                </div>

                <div>
                    <input type="checkbox" id="argent" name="argent">
                    <label for="argent">Argent</label>
                </div>

                <div>
                    <input type="checkbox" id="bleu" name="bleu">
                    <label for="bleu">Bleu</label>
                </div>

                <div>
                    <input type="checkbox" id="jaune" name="jaune">
                    <label for="jaune">Jaune</label>
                </div>

                <div>
                    <input type="checkbox" id="blanc" name="blanc">
                    <label for="blanc">Blanc</label>
                </div>
                <div>
                    <input type="checkbox" id="rouge" name="rouge">
                    <label for="rouge">Rouge</label>
                </div>
                    
            </div>

            <div class="marque">
                <span>Marques</span>

                <div>
                    <input type="checkbox" id="peugeot" name="peugeot">
                    <label for="peugeot">Peugeot</label>
                </div>

                <div>
                    <input type="checkbox" id="toyota" name="toyota">
                    <label for="toyota">Toyota</label>
                </div>

                <div>
                    <input type="checkbox" id="mercedez" name="mercedez">
                    <label for="mercedez">Mercedez</label>
                </div>
                <div>
                    <input type="checkbox" id="renault" name="renault">
                    <label for="renault">Renault</label>
                </div>
            </div>

            <div class="boite-vitesse">
                <span>Boite de vitesse </span>
                    
                    <div>
                        <input type="checkbox" id="manuelle" name="manuelle">
                        <label for="manuelle">Manuelle</label>
                    </div>

                    <div>
                        <input type="checkbox" id="automatique" name="automatique">
                        <label for="automatique">Automatique</label>
                    </div>
            </div>

        </div>

        <div class="car-list">
            <div class="list"></div>
        </div>
-->
    



        <div class="intro">
            <span>Indiquez-nous vos préférences pour les véhicules  et nous reviendrons vers vous rapidement</span>
            <span>Les champs marqués d'un <span class="red-star">*</span> sont obligatoires</span>
        
        </div>

        <form >
            <div class="reason">
                <div class="label">
                    <span>Motif de location </span>
                    <span class="red-star">*</span>
                </div>
                <select class="custom-select" (change)="changeReason($event)" formControlName="reason">
                    <option *ngFor="let reason of reasons" [ngValue]="reason">{{reason}}</option>
                </select>
            </div>

            <div class="town-seats-driver">

                <div class="town">
                        <div class="label">
                            <span>Ville </span>
                            <span class="red-star">*</span>
                        </div>
                        <select (change)="changeReason($event)" formControlName="">
                            <option *ngFor="let town of towns" [ngValue]="town">{{town}}</option>
                        </select>
                </div>

                <div class="seats">
                    <div class="label">
                        <span>Capacités </span>
                        <span class="red-star">*</span>
                    </div>
                    <select (change)="changeReason($event)" formControlName="">
                        <option *ngFor="let capacity of capacities" [ngValue]="capacity">{{capacity}}</option>
                    </select>
                </div>

                <div class="driver">
                    <div class="label">
                        <span>Chauffeurs ? </span>
                        <span class="red-star">*</span>
                    </div>
                    <select (change)="changeReason($event)" formControlName="">
                        <option *ngFor="let driver of drivers" [ngValue]="driver">{{driver}}</option>
                    </select>
                </div>
            </div>

            <div class="dates">

                <div class="date-start">
                    <div class="day">
                        <div class="label">
                            <span>Début location </span>
                            <span class="red-star">*</span>
                        </div>
                        <p-calendar formControlName="dayStart" dateFormat="mm-dd-yy" inputId="dateformat" placeholder="Jour début"></p-calendar>
                    </div>

                    <div class="hour">
                        <div class="label">
                            <span>Heure début</span>
                        </div>
                        <select class="custom-select" (change)="changeReason($event)" formControlName="reason">
                            <option *ngFor="let hour of hours" [ngValue]="hour">{{hour}}</option>
                        </select>
                    </div>
                </div>

                <div class="date-end">
                    <div class="day">
                        <div class="label">
                            <span>fin location </span>
                            <span class="red-star">*</span>
                        </div>
                        <p-calendar formControlName="dayEnd" dateFormat="mm-dd-yy" inputId="dateformat" placeholder="Jour fin"></p-calendar>
                    </div>

                    <div class="hour">
                        <div class="label">
                            <span>Heure fin</span>
                        </div>
                        <select (change)="changeReason($event)" formControlName="">
                            <option *ngFor="let hour of hours" [ngValue]="hour">{{hour}}</option>
                        </select>
                    </div>
                </div>

                
                
            </div>

            <div class="extras-bloc">
                <span>Extras</span>

                <div class="extras">
                    <div class="extra">
                        <input type="checkbox" id="clim" name="clim">
                        <label for="clim">Climatisée</label>
                    </div>

                    <div class="extra">
                        <input type="checkbox" id="cd" name="cd">
                        <label for="cd">Lecteur CD</label>
                    </div>

                    <div class="extra">
                        <input type="checkbox" id="mp3" name="mp3">
                        <label for="mp3">Lecteur MP3</label>
                    </div>

                    <div class="extra">
                        <input type="checkbox" id="radio" name="radio">
                        <label for="radio">Radio</label>
                    </div>

                    <div class="extra">
                        <input type="checkbox" id="bluethooth" name="bluethooth">
                        <label for="bluethooth">Bluethooth</label>
                    </div>
                </div>
                

            </div>

            <div class="name">
                <div class="label">
                    <span>Nom </span>
                    <span class="red-star">*</span>
                </div>
                <input type="text" placeholder="Entrez votre nom">
            </div>

            <div class="email-phone">
                
                <div class="email">
                    <div class="label">
                        <span>Email </span>
                        <span class="red-star">*</span>
                    </div>
                    <input type="email" placeholder="Email">
                </div>

                <div class="phone">
                    <div class="label">
                        <span>Téléphone </span>
                    </div>
                    <input type="text" placeholder="Téléphone">
                </div>
            </div>

            <button>Réserver</button>

        </form>

        <div class="procedure">
            <h1>Comment ça marche ?</h1>

            <div class="process-bloc">
                <div class="process">
                    <span>1</span>
                    <span>Renseignez et envoyez-nous le formulaire ci-avant</span>
                </div>


                <div class="process">
                    <span>2</span>
                    <span>Nous revenons vers vous en vous indiquant les prix et possibilités qui s'offrent à vous</span>
                </div>

                <div class="process">
                    <span>3</span>
                    <span>Vous nous indiquez votre choix parmis ceux proposés</span>
                </div>

                <div class="process">
                    <span>4</span>
                    <span>Nous convenons du prix et rendez-vous le jour j pour profiter de votre véhicule</span>
                </div>
            </div>
        </div>
        

    </div>
</div>