$colorBlue: #115F98;
$fontColor: #525252;


.conteneur-perso{
    padding: 5em 7% 0 7%;
}

.car{
    display: flex;
    flex-direction:column;
    width: 100%;

    .car-top-bloc{

        background-image: url("../../../assets/img/voiture.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 65vh;

        .car-top-title{
            position: absolute;
            top: 50%;
            left:50%;
            color: white;
            transform: translate(-50%,-50%);
        }
    }

    .car-top-bloc::before{
        content: "";
        top: 0;
        left:0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(2,22,47,0.7133228291316527) 0%, rgba(0,0,0,0.23713235294117652) 25%, rgba(0,0,0,0.20632002801120453) 100%);
    }

    .car-content{
        padding: 5em 1em;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 80px 7%;


        .filter{
            width: 320px;
            display: flex;
            flex-direction: column;
            background-color: #11609827;
            border-radius: 5px;
            padding: 30px;

            

            
            .fourchette{
                display: flex;
                flex-direction: column;
                border-bottom: 2px solid rgb(180, 180, 180);

                span:nth-child(1){
                    margin-bottom: 10px;
                }

                ::ng-deep {

                    ngx-slider {
                        .ngx-slider-bar {
                            background: rgb(180, 180, 180);
                            height: 3px;
                            bottom: 20px;
                        }
                        
                        .ngx-slider-selection{
                            background: $colorBlue;
                        }

                        .ngx-slider-pointer {
                            width: 15px;
                            height: 15px; 
                            background-color: $colorBlue;
                            position: absolute;
                            bottom: -10px;
                        }

                        .ngx-slider-pointer:after {
                            display: none;
                        }

                        .ngx-slider-bubble {
                            bottom:20px;
                            font-size: 0.95em;
                          }
                    }
                }
            }

            .ville, .chauffeur, .couleur, .marque, .boite-vitesse {
                
                flex-direction: column;
                padding: 15px 0 10px;
                border-top: 2px solid rgb(180, 180, 180);

                span{
                    color: $colorBlue;
                    font-weight: 540;
                }
                > div {
                    display: flex;
                    align-items: center;
                    margin: 5px 0 0 0;
                    width: fit-content;
                    
                    input{
                    height: 17px;
                    width: 17px;
                    margin-right: 10px;
                    border-radius: 50%;
                    }
                }

                 > div:hover {
                    font-weight: bold;
                    color: $colorBlue;
                }
            }
            
        }

        .car-list{
            width: 800px;

            height:100vh;
            background-color: $colorBlue;

            display: flex;
            flex-direction:column;

            .list{
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

}