<div class="tourism">
    <div class="content my-container">
        <h1 class="title" >NOS CIRCUITS TOURISTIQUES</h1>
        
        <span class="intro">
            Envie d'aventures, de voyage et de découverte? Ou êtes-vous plutôt porté par des ambiances softs, de détente et de repos? Vous trouverez largement de quoi vous satisfaire parmis nos cicruits touristiques confectionnés rien que pour vous.
        </span>

        <div class="circuits">
            <ng-template ngFor let-tour [ngForOf]="topTourismList">

                <div class="circuit" [routerLink]="'/tourisme/'+tour.link">

                    <div class="image">
                        <img src={{tour.image}} alt="">
                    </div>

                    <div class="infos">
                        <span class="header">{{tour.title}}</span>                                
                        <div class="location">
                            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                            <span>{{tour.place}}</span>
                        </div>

                        <div class="from-price">
                            <span class="from">à partir de</span>
                            <span class="price">
                                <b> {{tour.price | currency:currentCurrency?.convertRate | number}} {{currentCurrency?.symbol}}</b> / pers
                            </span>
                        </div>
                    </div>
                            
                </div>
                        
            </ng-template>

        </div>

        <button routerLink="/tourisme">
            Découvrir toutes nos offres
        </button>

       </div>
</div>