$colorBlue: #115F98;
$fontColor: #525252;


    .tourism{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:#e7e7e7;
        padding: 60px 0;

        .content{

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;


            .title{
                color: $colorBlue;
                position: relative;
            }

            .title::after{
                content: "";
                position: absolute;
                width: 100px;
                height: 5px;
                bottom: -15px;
                border-radius: 100px;
                background-color: $colorBlue;
                left: 50%;
                transform: translateX(-50%);
            }

            .intro{
                margin-top: 80px;
            }
            .circuits{
                display: inline-flex;
                width: 100%;
                overflow-x: scroll; 
                padding: 50px 0 20px 0;
                justify-content: flex-start;
                

                .circuit{
                    height: 250px;
                    background-color: white;
                    margin: 0 20px 0 0;
                    border-radius: 10px;
                    position: relative;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;

                        img{
                            width: 330px;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;                        
                        
                        }
                        
                        .from-price{
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            bottom: 0;
                            color: white;
                            z-index: 2;
                            padding: 0 0 7px 10px;
                            width: fit-content;

                            .from{
                                width: 100%;
                                text-align: left;
                                font-size: 0.87em;
                                font-weight: 345;
                            }

                            .price{
                                width: 100%;
                                text-align: left;
                                font-size: 1em;
                            }
                        
                        }

                        .infos{
                                position: absolute;
                                top: 0;
                                padding: 20px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                flex-direction: column;
                                width: 100%;
                                z-index: 2;
                                color: white;

                                .info{
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
        
                                    span{
                                        width: 100%;
                                        margin-bottom: 20px;
                                        text-align: center;
                                        font-weight: 400;
                                    }
        
                        
                                }
        
                                button{
                                    color: white;
                                    padding: 3px 15px;
                                    border-radius: 100px;
                                    font-size: 0.9em;
                                    transition: all 0.3s ease-in;
                                    border: 2px solid $colorBlue;
                                    background-color: $colorBlue;
                                    font-weight: 400;
                                    display: none;
                                }
        
                                button:hover{
                                    color: $colorBlue;
                                    border: 2px solid $colorBlue;
                                    background-color: white;
        
                                }
                        }

                }

                .circuit:hover{

                    .infos{

                        button{
  
                            display: block;
                        }
                    }
                }

                .circuit::after{
                    content: "";
                    background-color: #01235b52;                    
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    border-radius: 5px;

                }

                .circuit:hover::after{
                    
                    background-color: #000000a1;

                }
                
            }

            .circuits::-webkit-scrollbar {
                display: none;
              }

            button{
                border: 2px solid $colorBlue;
                background-color: white;
                color: $colorBlue;
                font-weight: 545;
                padding: 5px 15px;
                border-radius: 100px;
                transition: all 0.4s ease-in;
                margin-top: 60px;
            }

            button:hover{
                border: 2px solid $colorBlue;
                background-color: $colorBlue;
                color: white;
            }
        }
    }