<div class="tourism">
    <div class="content my-container">
        <h1 class="title" >NOS CIRCUITS TOURISTIQUES</h1>
        
        <span class="intro">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure commodi error eaque saepe corporis. Iure debitis totam accusantium eius deleniti earum unde corporis at repudiandae magni. In nisi temporibus quibusdam.
        </span>

        <div class="circuits">
            <ng-template ngFor let-tourism [ngForOf]="topTourismList">

                <div class="circuit">

                        <img src={{tourism.img}} alt="">
                        <div class="from-price">
                            <span class="from">à partir de</span>
                            <span class="price">
                                <b> {{tourism.price | number}} XAF</b> / pers
                            </span>
                        </div>

                        <div class="infos">

                            <div class="info">
                                <span> {{tourism.title}} </span>                                
                            </div>
                            <button>Voir l'offre</button>
                        </div>
                    
                </div>
            </ng-template>

        </div>

        <button routerLink="/tourism">
            découvrir toutes nos offres
        </button>

       </div>
</div>