$colorBlue: #115F98;
$fontColor: #525252;

.fret-dhl{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;

    .hero{

        background-image: url("../../../assets/img/fret-dhl/hero-bg.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 65vh;

        .hero-content{
   
            .title{
                position: absolute;
                top: 50%;
                left:50%;
                color: white;
                transform: translate(-50%,-50%);
                white-space: nowrap;
            }
        }

    }

    .hero::before{
        content: "";
        top: 0;
        left:0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(2,22,47,0.7133228291316527) 0%, rgba(0,0,0,0.23713235294117652) 25%, rgba(0,0,0,0.20632002801120453) 100%);
    }


    .content{
        padding-top: 5em;
        padding-bottom: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .red-star{
            color: red;
            font-size: 1.1em;
            font-weight: bold;
        }

        .intro{

            display: flex;
            flex-direction: column;

            h2{
                color: $colorBlue;
                margin-bottom: 30px;
            }


            .form-invit{
                font-size: 1.1em;
                font-weight: 535;
            }

            .form-advices{
                margin: 10px 0 30px 0;        
            }
        }

        form{
            width: 800px;
            height: fit-content;
            padding: 60px ;
            background-color: gold;
            border-radius: 5px;
            margin-top: 40px;
            display: flex;
            flex-direction: column;

            .countries{
                display: flex;
                justify-content: space-between;

                    .country{
                        display: flex;
                        flex-direction: column;
                        background-color: white;
                        border: 1px solid $colorBlue;
                        padding: 5px;
                        border-radius: 5px;
                        margin-top: 15px;
                        width: 280px;
                        position: relative;
                        height: 57px;


                        .label{
                            font-size: 0.85em;
                            color: $colorBlue;
                            padding-left: 5px;

                        }

                        input{
                            border: none;
                            outline: none;
                            background-color: unset;
                            position: absolute;
                            bottom: 0;
                            padding-left: 4px;
                            width: 100%;
                            padding-top: 25px;
                            height: 100%;
                        }

                        .departure{
                            background-color: unset;
                            position: absolute;
                            bottom: 0;
                            padding-left: 4px;
                            width: 100%;
                            padding-top: 29px;
                            height: 100%;
                        }


                }
            }

            .weight-contains-format{

                display: flex;
                justify-content: space-between;
                
                    .weight, .contains, .format{
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border: 1px solid $colorBlue;
                    padding: 5px;
                    border-radius: 5px;
                    margin-top: 15px;
                    width: 200px;
                    height: 57px;
                    position: relative;


                    .label{
                        font-size: 0.85em;
                        color: $colorBlue;
                        padding-left: 5px;

                    }

                     select{
                        border: none;
                        outline: none;
                        background-color: unset;
                        
                    }

                    input{
                        border:none;
                        outline: none;
                        background-color: unset;
                        position: absolute;
                        bottom: 0;
                        padding-left: 4px;
                        width: 100%;
                        padding-top: 25px;
                        height: 100%;
                    }

                    
                }
                }

            .name{
                display: flex;
                flex-direction: column;
                background-color: white;
                border: 1px solid $colorBlue;
                padding: 5px;
                border-radius: 5px;
                margin-top: 15px;
                position: relative;
                height: 57px;

                .label{
                    font-size: 0.85em;
                    color: $colorBlue;
                    padding-left: 5px;

                }

                 input{
                    border: none;
                    outline: none;
                    background-color: unset;
                    position: absolute;
                    position: absolute;
                    bottom: 0;
                    padding-left: 4px;
                    width: 100%;
                    padding-top: 25px;
                    height: 100%;
                }
            }

            .email-phone{

                display: flex;
                justify-content: space-between;

                .email, .phone{
                    width: 280px;
                    height: 57px;
                    margin-top: 15px;
                    background-color: white;
                    border: 1px solid $colorBlue;
                    padding: 5px;
                    border-radius: 5px;
                    position: relative;

                    .label{
                        font-size: 0.85em;
                        color: $colorBlue;
                        padding-left: 5px;

                    }

                     input{
                        border: none;
                        outline: none;
                        background-color: unset;
                        position: absolute;
                        position: absolute;
                        bottom: 0;
                        padding-left: 4px;
                        width: 100%;
                        padding-top: 25px;
                        height: 100%;
                    }
                }
            }

            button{
                outline: none;
                border: none;
                border-radius: 100px;
                padding: 5px 20px;
                background-color: $fontColor;
                color: white;
                width: fit-content;
                font-size: 1.1em;
                transition: all 0.3s ease-in-out;
                margin: auto;
                margin-top: 40px;
            }

            button:hover{
                background-color: red;
            }
        }

        .procedure{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 60px;

            .process-bloc{
                display: flex;
                justify-content: space-between;
                width: 100%;
                flex-wrap: wrap;
                margin: 40px;


                .process{
                    display: flex;
                    flex-direction: column;
                    margin: 10px 10px;
                    width: 250px;

                    span:nth-child(1){
                        text-align: center;
                        padding: 2px 10px;
                        color: $colorBlue;
                        border-radius: 50%;
                        background-color: #11609827;
                        width: fit-content;
                        font-size: 1.1em;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}